In [15]:
import json

In [ ]:
def fill(x,y):
    a = cars["registration"][(cars["km"] >= x) & (cars["km"] < y) & (cars["registration"] != np.nan)].mode()
    return cars["registration"][(cars["km"] >= x) & (cars["km"] < y)].fillna(a[0], , inplace = True)
fill(19400, 21000)

In [ ]:
cars["registration"][(cars["km"] >= x) & (cars["km"] < y)] = cars["registration"][(cars["km"] >= x) & (cars["km"] < y)].fillna(a[0])
    return cars["registration"][(cars["km"] >= x) & (cars["km"] < y)]

In [16]:
json.load(f): load JSON data from file
json.loads(s): load JSON data from a string
json.dump(j,f): write JSON object to file
json.load(f): output JSON object as string

SyntaxError: invalid syntax (<ipython-input-16-c788f1d5b94b>, line 1)

In [17]:
myrecord: 'make_model',"short_description" 'body_type' 'price' 'vat' 'km' 'registration' 'prev_owner' 'kW' 'hp' 'Type'
j = json.dumps(myrecord)prev_owner
with open("scout_car.json", "w") as f:
    f.write(j)
    f.close()

SyntaxError: invalid syntax (<ipython-input-17-05184826cf11>, line 1)

In [22]:
import pandas as pd
import numpy as np
df= pd.read_json(scout_car.json)
df.head()

NameError: name 'scout_car' is not defined

In [23]:
with open("scout_car.json") as json_data:

SyntaxError: unexpected EOF while parsing (<ipython-input-23-ad4c06332979>, line 1)

In [25]:
from matplotlib import pyplot as plt

In [26]:
df = pd.read_csv("scout_car.json")
df.head()

ParserError: Error tokenizing data. C error: Expected 211 fields in line 3, saw 214

In [11]:
json.dumps(car_model)

NameError: name 'car_model' is not defined

In [ ]:
import warnings  ### Uyari aldiginda sonucun gorunmesini saglar.
warnings.filterwarnings('ignore')
warnings.warn("this will not show")

In [ ]:
import pandas as pd

In [ ]:
EDA Projesinde, iç içe listelerde bulunan string değerlere sahip sütunlara (ör: "Comfort&Convenience",
"extra", "Entertainment&Media" vb..) yönelik şu yolu izleyebilirsiniz :
1 - Önce unique string değerleri görebilmek ve kendiniz yorum yapbilmek için unique_values(data, column_name)
isimli bir fonksiyon tanımlayın. Bunun sonucunda listeler içerisindeki unique string değerleri size liste halinde sunsun. Bu fonksiyon oluşturma ve unique değerleri görme işi yanlızca sizin yorum yapabilme ve analiz yapıp fikir edinmeniz için gerekli. Yoksa zorunlu değil. Çünkü bu sütunu temizleyip, string değerleri listelerin içerisinden çıkarıp, sade string'ler haline getirdikten ve missing value'leri doldurduktan sonra df.str.get_dummies(sep = ",")  syntax'ı ile zaten unique olan değerler otomatik olarak sütun haline dönüşecektir.
2- Yukarda belirttiğim, listeler içerisindeki string değerleri dışarı çıkarıp sade string'ler haline getirme nasıl olucak :
Burada dikkat etmeniz gereken ilk şey sütundaki değerlerin "liste içerisinde mi yoksa dışında mı" durumunu kontrol (condition) ederek; liste içerisinde ise dışarı çıkartılması, sade string halinde ise aynen bırakılması.
Bu işi yapan syntax'ın içerisinde şöyle şeyler olacak : sade = [xxxxxxxxxxx if type(item) == list else item for item in df["sütun_ismi"]].
İşte buradan çıkan listeyi df["sütun_ismi"] = pd.DataFrame(sade) ile yeni sütun değerleri olarak atayabilirsiniz.
Yukardaki işlemden sonra, nan olan değerler boş string haline geleceği için bu boş string'lerin hepsine tekrar np.nan atanması ve bu nan değerlerin dün söylediğim kendi oluşturacağınız fill_most() fonksiyonu ile doldurulması gerekmekte.
Missing value'leri doldurduktan sonra ise önceki maddede belirtilen get_dummies() metodu son noktayı koyacaktır.

### Str ornekleri

In [ ]:
import pandas as pd
import numpy as np
data = pd.DataFrame({
    'age' :     [ 10, 22, 13, 21, 12, 11, 17],
    'section' : [ 'A', 'B', 'C', 'B', 'B', 'A', 'A'],
    'city' :    [ 'Gurgaon', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai', 'Delhi', 'Mumbai'],
    'gender' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'favourite_color' : [ 'red', 'blue', 'yellow', 'pink', 'black', 'green', 'red']
})
data['new'] = data['city'].str[:2]

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'], dtype="string")                     s.str.lower()

In [3]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])
result = s.str.extract("(\d\d)/(\d*)")
result

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [4]:
s.str[0]

0     0
1     1
2     1
3     0
4     0
5     0
6     0
7     1
8     0
9     0
10    0
dtype: object

In [5]:
s.str[1]

0     6
1     1
2     0
3     5
4     7
5     6
6     1
7     1
8     4
9     8
10    4
dtype: object

In [6]:
s.str[0:7]

0     06/2020
1     11/2020
2     10/2019
3     05/2022
4     07/2019
5     06/2022
6     01/2022
7     11/2020
8     04/2019
9     08/2020
10    04/2022
dtype: object

In [10]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',])

In [11]:
s.str[0]

0    0
1    1
2    1
3    0
dtype: object

In [12]:
s.str[0].str[0:7] # uc tane liste varsa us str yapilir liste ye ulasmak icin

0    0
1    1
2    1
3    0
dtype: object

In [ ]:
O column'un veri tipini str'ye cevirip str.replace, str.strip, str.extract gibi string methodlarini uygulayabilirsiniz




E2464 Mikdat  2 hours ago
anladım teşekkürler




Joseph - Instructor  2 hours ago
str[1].strip(“\n”)

In [ ]:
EDA Projesinde izlenecek özet yol :
araba fiyatının belirlenmesine etki etmeyecek olan ve yüksek nan'a sahip olan sütunları düşür
bozuk formattaki yapıları düzeltip sade ve anlamlı string/numeric değerlere dönüştür
kalan tüm sutunların nan'larını en mantıklı şekilde doldur.
tüm sutunların numeric değer almasını sağla. (kategorik olan sütunlar get_dummies() ile numeric olacak)
tüm sutunların outlier'larını gider
sonuç df'i csv olarak kaydet