In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [3]:
#Indexle mede defeaoul index icin fazladan gelen index icin silmek istersek 
#ri =pd.read_csv("cleaned.csv", nrows=50000, index_col=0) kullaniyoruz.

In [4]:
df= pd.read_json("scout_car.json", lines = True)
df
#pd.read_json("scout_car.json", orient = "records", lines = True)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15914,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200CV EDC Executive 4Control,Van,39950,VAT deductible,- km,-/-,None,NaN,...,[\nVettura visionabile nella sede in Via Roma ...,NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15915,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"TCe 225 EDC GPF LIM Deluxe Pano,RFK",Van,39885,VAT deductible,"9,900 km",01/2019,1 previous owner,NaN,...,"[\nDach: Panorama-Glas-Schiebedach, Lackierung...",NaN,[\n7\n],[\nGermany\n],NaN,NaN,"[[], [], []]",\nin 5 days from ordering\n,NaN,NaN
15916,https://www.autoscout24.com//offers/renault-es...,Renault Espace,Blue dCi 200 EDC Initiale Paris Leder LED Navi...,Van,39875,VAT deductible,15 km,03/2019,1 previous owner,NaN,...,"[\n, Getriebe:, Automatik, Technik:, Bordcom...",NaN,[\n6\n],[\nAustria\n],NaN,NaN,NaN,\nin 120 days from ordering\n,NaN,NaN
15917,https://www.autoscout24.com//offers/renault-es...,Renault Espace,"Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...",Van,39700,VAT deductible,10 km,06/2019,None,NaN,...,"[\nDEK:[2691331], Renault Espace Blue dCi 200C...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
15918,https://www.autoscout24.com//offers/renault-es...,Renault Espace,INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX,Van,40999,VAT deductible,- km,01/2019,1 previous owner,NaN,...,"[\n, Sicherheit Airbags:, , Seitenairbag, , ...",[\n4 (Green)\n],NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.shape

(15919, 54)

In [6]:
#pd.read_csv("ornekcsv.csv", sep = ";")

In [7]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [8]:
df.isnull().sum()/ df.isnull().shape[0]*100

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [9]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [10]:
def show_nans(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x : x > limit]
show_nans(df,70)

kW                               100.000000
Next Inspection                   77.793831
Inspection new                    75.299956
Emission Label                    74.967021
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [11]:
df.drop(['kW', 'Next Inspection', 'Inspection new', 'Emission Label', 'Electricity consumption', 'Last Service Date', 'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date', 'Available from'], axis='columns', inplace=True)

### Displacement

In [12]:
import re
import pandas as pd

In [13]:
df['Displacement']

0        [\n1,422 cc\n]
1        [\n1,798 cc\n]
2        [\n1,598 cc\n]
3        [\n1,422 cc\n]
4        [\n1,422 cc\n]
              ...
15914    [\n1,997 cc\n]
15915    [\n1,798 cc\n]
15916    [\n1,997 cc\n]
15917    [\n1,997 cc\n]
15918    [\n1,798 cc\n]
Name: Displacement, Length: 15919, dtype: object

In [14]:
df['Displacement']=df['Displacement'].str[0]
df['Displacement'].head()

0    \n1,422 cc\n
1    \n1,798 cc\n
2    \n1,598 cc\n
3    \n1,422 cc\n
4    \n1,422 cc\n
Name: Displacement, dtype: object

In [15]:
df['Displacement']=df['Displacement'].replace('[^0-9]','', regex=True)
df['Displacement'].head()

0    1422
1    1798
2    1598
3    1422
4    1422
Name: Displacement, dtype: object

In [17]:
def select(l):
    if l == "na":
        return np.nan
    return float(l[1])

In [18]:
pd.to_numeric(df["Displacement"].fillna("na").apply(select).str.strip("\n").str.rstrip(" cc").str.replace(",",""))

IndexError: string index out of range

In [225]:
#apply(lambda x: re.sub('\D',"",x))
#rakam harici tum karakterlerden kurtarabilirsiniz.

### km

In [207]:
df["km"]

0        56,013 km
1        80,000 km
2        83,450 km
3        73,000 km
4        16,200 km
           ...
15914         - km
15915     9,900 km
15916        15 km
15917        10 km
15918         - km
Name: km, Length: 15919, dtype: object

In [208]:
df["km"] =pd.to_numeric(df["km"].str.rstrip("km").str.replace(",",""),errors = "coerce").fillna(0)

In [209]:
df["km"]

0        56013.0
1        80000.0
2        83450.0
3        73000.0
4        16200.0
          ...
15914        0.0
15915     9900.0
15916       15.0
15917       10.0
15918        0.0
Name: km, Length: 15919, dtype: float64

### First Registration

In [210]:
def select(l):
    if l == "na":
        return np.nan
    return float(l[1])

In [211]:
clean =df["First Registration"].fillna("na").apply(select).describe()

clean["First Registration"] =df["First Registration"].fillna("na").apply(select)

In [212]:
df["First Registration"] = clean["First Registration"]
df["First Registration"]

0        2016.0
1        2017.0
2        2016.0
3        2016.0
4        2016.0
          ...
15914       NaN
15915    2019.0
15916    2019.0
15917    2019.0
15918    2019.0
Name: First Registration, Length: 15919, dtype: float64

In [213]:
def coerce_m_columns_to_numeric(m, column_list):
    m[column_list] = m[column_list].apply(pd.to_numeric, errors='coerce')

###### 2. Method

In [135]:
x= df["First Registration"]

In [136]:
x = "First Registration"

In [137]:
def n_sil(x):
    for i in range(0, len(x)):
        if isinstance(x[i], list):
            for a in x[i]:
                if a == "\n":
                    x[i].remove(a)
                elif "\n" in a:
                    x[i].remove(a)
                    b = a.replace("\n", "")
                    x[i].append(b)
        elif isinstance(x[i], str):
            x[i] = x[i].replace("\n", "")

In [138]:
for i in range(15919):
    df.loc[i, "year"] = 2020

In [214]:
def coerce_m_columns_to_numeric(df, column_list):
    df[column_list] = df[column_list].apply(pd.to_numeric, errors='coerce')

In [215]:
#df["Age"]=df["year"]-df["First Registration"]

### 'Consumption'

In [216]:
df['Consumption'].head()

0    [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1    [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2    [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3    [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4    [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...
Name: Consumption, dtype: object

In [217]:
df['Consumption'].str[1].str[0]

0        4.3 l/100 km (city)
1        7.1 l/100 km (city)
2        4.4 l/100 km (city)
3        4.3 l/100 km (city)
4        4.6 l/100 km (city)
                ...
15914    6.2 l/100 km (city)
15915                      7
15916    6.2 l/100 km (city)
15917    6.2 l/100 km (city)
15918    8.7 l/100 km (city)
Name: Consumption, Length: 15919, dtype: object

### \nComfort & Convenience\n'

In [232]:
df["\nComfort & Convenience\n"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Air conditioning, Electrical side mirrors, Hill Holder, Power windows]                                                                                                                                                                                                                                                                                                                                             216
[Air conditioning, Electrical side mirrors, Power windows]                                                                                                                                                                                                                                                                                                                                                          134
[Air conditioning, Power windows]                                                                                                                                                                                                                                                                                                                                                                                   130
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Leather steering wheel, Light sensor, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                105
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                         92
                                                                                                                                                                                                                                                                                                                                                                                                                   ...
[Air conditioning, Cruise control, Electrical side mirrors, Light sensor, Multi-function steering wheel, Navigation system, Park Distance Control, Power windows, Rain sensor, Seat heating, Start-stop system]                                                                                                                                                                                                       1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Hill Holder, Keyless central door lock, Leather steering wheel, Light sensor, Multi-function steering wheel, Navigation system, Parking assist system camera, Parking assist system sensors rear, Power windows, Rain sensor, Split rear seats, Start-stop system]                                                    1
[Air conditioning, Armrest, Automatic climate control, Cruise control, Electrical side mirrors, Light sensor, Multi-function steering wheel, Park Distance Control, Parking assist system sensors rear, Rain sensor, Seat heating]                                                                                                                                                                                    1
[Air conditioning, Automatic climate control, Cruise control, Electrically adjustable seats, Electrical side mirrors, Heated steering wheel, Hill Holder, Leather steering wheel, Lumbar support, Multi-function steering wheel, Navigation system, Park Distance Control, Parking assist system sensors front, Parking assist system sensors rear, Power windows, Rain sensor, Seat heating, Start-stop system]      1
[Air conditioning, Electrical side mirrors, Light sensor, Multi-function steering wheel, Parking assist system sensors rear, Power windows, Rain sensor]                                                                                                                                                                                                                                                              1
Name: \nComfort & Convenience\n, Length: 6198, dtype: int64

### \nEntertainment & Media\n'

In [235]:
df['\nEntertainment & Media\n'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Bluetooth, Hands-free equipment, On-board computer, Radio, USB]                    1282
[Bluetooth, Hands-free equipment, MP3, On-board computer, Radio, USB]                982
[Bluetooth, CD player, Hands-free equipment, MP3, On-board computer, Radio, USB]     783
[On-board computer, Radio]                                                           487
[Radio]                                                                              477
                                                                                    ...
[Bluetooth, CD player, Digital radio, MP3, Radio, USB]                                 1
[Bluetooth, CD player, Digital radio, Radio, USB]                                      1
[Bluetooth, CD player, USB]                                                            1
[Bluetooth, Digital radio, Hands-free equipment, MP3, Radio]                           1
[Bluetooth, CD player, Digital radio, Hands-free equipment, Radio]                     1
Name: \nEntertainment & Media\n, Length: 346, dtype: int64

### \nExtras\n'

In [237]:
df["\nExtras\n"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Alloy wheels]                                                                                              3245
[Alloy wheels, Touch screen]                                                                                 697
[Alloy wheels, Voice Control]                                                                                577
[Alloy wheels, Touch screen, Voice Control]                                                                  541
[Alloy wheels, Roof rack]                                                                                    385
                                                                                                            ...
[Catalytic Converter, Roof rack, Sport package, Touch screen, Voice Control]                                   1
[Alloy wheels, Sport suspension, Touch screen, Tuned car]                                                      1
[Alloy wheels, Catalytic Converter, Sport package, Sport seats, Trailer hitch]                                 1
[Alloy wheels, Catalytic Converter, Handicapped enabled, Touch screen]                                         1
[Alloy wheels, Sport package, Sport seats, Sport suspension, Touch screen, Trailer hitch, Voice Control]       1
Name: \nExtras\n, Length: 659, dtype: int64

### \nSafety & Security\n'

In [238]:
df["\nSafety & Security\n"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                                                              538
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                                                                          480
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                                                                        275
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Fog lights, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                                  272
[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control]                                                                                                                                                                              228
                                                                                                                                                                                                                                                                                                                                                                                                                                       ...
[ABS, Alarm system, Central door lock, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, Passenger-side airbag, Power steering, Side airbag, Traction control]                                                                                                                                                                                                                                                       1
[ABS, Alarm system, Central door lock, Central door lock with remote control, Driver-side airbag, Electronic stability control, Immobilizer, Isofix, LED Daytime Running Lights, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Xenon headlights]                                                                                                                                                        1
[ABS, Adaptive Cruise Control, Blind spot monitor, Daytime running lights, Driver-side airbag, Electronic stability control, Isofix, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]                                                                                                                                                                     1
[ABS, Central door lock, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Head airbag, Isofix, LED Daytime Running Lights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system]                                                                                                                                                           1
[ABS, Blind spot monitor, Central door lock with remote control, Daytime running lights, Driver-side airbag, Electronic stability control, Emergency brake assistant, Emergency system, Fog lights, Immobilizer, Isofix, Lane departure warning system, LED Daytime Running Lights, LED Headlights, Passenger-side airbag, Power steering, Side airbag, Tire pressure monitoring system, Traction control, Traffic sign recognition]      1
Name: \nSafety & Security\n, Length: 4443, dtype: int64

### Gears'

In [244]:
df["Gears"].str[0].str[1]

0        NaN
1          7
2        NaN
3          6
4        NaN
        ...
15914      6
15915      7
15916      6
15917      6
15918    NaN
Name: Gears, Length: 15919, dtype: object

In [245]:
df["Gears"].str[0].str[1].value_counts()

6    5822
5    3240
7    1908
8     224
9       6
4       2
3       2
1       2
2       1
Name: Gears, dtype: int64

### "Nr. of Doors"

In [241]:
df["Nr. of Doors"].str[0].str[1]
#df["Nr. of Doors"].str[0].strip("\n")

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

In [ ]:
#df["Nr. of Doors"].astype(float)
#df['Nr. of Doors'] = pd.to_numeric(df['Nr. of Doors'])

### Country version

In [246]:
df["Country version"]

0                  NaN
1                  NaN
2                  NaN
3                  NaN
4        [\nGermany\n]
             ...
15914              NaN
15915    [\nGermany\n]
15916    [\nAustria\n]
15917              NaN
15918    [\nGermany\n]
Name: Country version, Length: 15919, dtype: object

In [11]:
df.groupby("body_type")['price'].mean()

body_type
Compact          15216.240089
Convertible      27905.375000
Coupe            14222.720000
Off-Road         17126.160714
Other            14209.796552
Sedans           17735.904846
Station wagon    18643.281171
Transporter      16764.795455
Van              30846.632184
Name: price, dtype: float64

In [12]:
df["body_type"].value_counts()

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [13]:
NaN ihtiva eden sütunları aynı marka-modelde olan diğer araçların mode'u ile dolduran fonksyion.
def fill_most(x, y):
    a = df[x][df['make_model'] == y].value_counts().index[0]
    b = df[x][df['make_model'] == y]
    b = b.apply(lambda z : z if isinstance(z, list) else a)
    df[x][df['make_model'] == y] = b
x = doldurmak istediğimiz sütun
y = marka-model ismi (edited)

SyntaxError: invalid syntax (<ipython-input-13-9415d6b1dd46>, line 1)

In [14]:
def unique_values(data, column_name):
    unique_vals = set()
    for rows in data[column_name]:
        unique_vals.update(rows)
    return list(unique_vals)

In [15]:
comfort sütunu için ilk önce nan değerleri doldurup, sonra string'e çevirip sonra da get_dummies ile 0-1 değerleriyle donatmanız gerekiyor

SyntaxError: invalid syntax (<ipython-input-15-c40a5c108162>, line 1)

In [16]:
df["body_type][df["make_model"]==model] = df["body_type][df["make_model"]==model].fillna(mod)
return df["body_type][df["make_model"]==model]

SyntaxError: invalid syntax (<ipython-input-16-c15fd77db481>, line 1)

### 'Consumption'

In [169]:
def try_join(l):
    try:
        return ','.join(map(str, set(l)))
    except TypeError:
        return np.nan

In [17]:
def n_sil(x):
    for i in range(0, len(x)):
        if isinstance(x[i], list):
            for a in x[i]:
                if a == "\n":
                    x[i].remove(a)
                elif "\n" in a:
                    x[i].remove(a)
                    b = a.replace("\n", "")
                    x[i].append(b)
        elif isinstance(x[i], str):
            x[i] = x[i].replace("\n", "")
Örnek = n_sil(df["Nr. of Seats"]), ... n_sil(df[i])

SyntaxError: invalid syntax (<ipython-input-17-310db54f17fe>, line 13)

In [18]:
.strip()

SyntaxError: invalid syntax (<ipython-input-18-a5e81a64f2bf>, line 1)

In [167]:
z = df["Consumption"].apply(lambda x: re.sub('\D',"",x))
z

TypeError: expected string or bytes-like object

In [166]:
z.str.extract("(\d.\d*).+(\d.\d*).+(\d.\d*)")

AttributeError: 'str' object has no attribute 'str'

In [ ]:
data_cons = data["consumption"].str.strip("\n,").str.split(",",expand=True).reset_index(level=0).melt(id_vars='index',value_name='category_value').drop("variable",axis=1)
data_cons = data_cons.join(data_cons["category_value"].str.extract(r"(?P<consumption_amount>[\d|\.]+).*(?P<consumption_type>city|comb|country)",expand=True))
data_cons = data_cons.pivot_table(values=['consumption_amount'], index="index", columns=['consumption_type'], aggfunc='first')
data_cons = data_cons["consumption_amount"]
data_cons

In [ ]:
ha bir de bu var listi string yapmak için
def try_join(l):
    try:
        return ','.join(map(str, set(l)))
    except TypeError:
        return np.nan

In [ ]:
# nested sütunları one dimensional hale getirmek için böyle bir fonk yazdım bende

def consumption(x):
    if type(x) == list and type(x[0])==list :
        return x[0]+x[1]+x[2]
    elif type(x)==list and len(x)>3:
        return x

In [1]:
#df.explode("Type")

In [21]:
import re

In [22]:
df["Consumption"].head(3)

0    [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1    [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2    [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
Name: Consumption, dtype: object

In [168]:
def Clean_data(a): 
    # Search for opening bracket in the name followed by 
    # any characters repeated any number of times 
    if re.search('\,.*', a): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\,.*', a).start() 
  
        # return the cleaned name 
        return a[:pos] 
  
    else: 
        # if clean up needed return the same name 
        return a 
          
# Updated the city columns 
df['Consumption'] = df['Consumption'].apply(Clean_data) 
  
# Print the updated dataframe 
print(df)

TypeError: expected string or bytes-like object

In [179]:
df["Consumption"].str.strip('\n,')

AttributeError: Can only use .str accessor with string values!

### "Nr. of Doors"

In [28]:
df["Nr. of Doors"]

0        [\n5\n]
1        [\n3\n]
2        [\n4\n]
3        [\n3\n]
4        [\n5\n]
          ...
15914    [\n5\n]
15915    [\n5\n]
15916    [\n5\n]
15917    [\n5\n]
15918    [\n5\n]
Name: Nr. of Doors, Length: 15919, dtype: object

In [29]:
df["Nr. of Doors"].str[0].str[1]

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

## FUEL

In [ ]:
cars['Fuel']=cars['Fuel'].str[1]  
cars.Fuel.loc[cars.Fuel.str.contains("Diesel")] == "Diesel"
cars.Fuel[cars.Fuel.str.contains('Diesel').isna()] = '5false5'