In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

In [3]:
#Indexle mede defeaoul index icin fazladan gelen index icin silmek istersek 
#ri =pd.read_csv("cleaned.csv", nrows=50000, index_col=0) kullaniyoruz.

### Examine File

In [4]:
df= pd.read_json("scout_car.json", lines = True)

In [5]:
pd.set_option('display.max_columns', None)
df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(15919, 54)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [8]:
df.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [9]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

**before hangling missing values I recognize the data set

### hangling with missing values¶

In [10]:
df.isnull().sum()/ df.isnull().shape[0]*100 # we can see the missing values.
#(oto.isnull().sum()/oto.shape[0]*100).sort_values(ascending =False)

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [12]:
call_list = list(df.columns) #We can call columns as a list easily.
call_list
#df.columns

['url',
 'make_model',
 'short_description',
 'body_type',
 'price',
 'vat',
 'km',
 'registration',
 'prev_owner',
 'kW',
 'hp',
 'Type',
 'Previous Owners',
 'Next Inspection',
 'Inspection new',
 'Warranty',
 'Full Service',
 'Non-smoking Vehicle',
 'null',
 'Make',
 'Model',
 'Offer Number',
 'First Registration',
 'Body Color',
 'Paint Type',
 'Body Color Original',
 'Upholstery',
 'Body',
 'Nr. of Doors',
 'Nr. of Seats',
 'Model Code',
 'Gearing Type',
 'Displacement',
 'Cylinders',
 'Weight',
 'Drive chain',
 'Fuel',
 'Consumption',
 'CO2 Emission',
 'Emission Class',
 '\nComfort & Convenience\n',
 '\nEntertainment & Media\n',
 '\nExtras\n',
 '\nSafety & Security\n',
 'description',
 'Emission Label',
 'Gears',
 'Country version',
 'Electricity consumption',
 'Last Service Date',
 'Other Fuel Types',
 'Availability',
 'Last Timing Belt Service Date',
 'Available from']

In [13]:
def show_nans(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x : x > limit]
show_nans(df,35)

prev_owner                        42.892141
kW                               100.000000
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Full Service                      48.395000
Non-smoking Vehicle               54.915510
Paint Type                        36.258559
Model Code                        68.729192
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Emission Label                    74.967021
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

pip install pandas-profiling
import pandas_profiling
pandas_profiling.ProfileReport(oto)
Burda ayrintili bilgi alabiliriz.

### **General formul to remove '/n'

In [14]:
def n_sil(x):
    for i in range(0, len(x)):
        if isinstance(x[i], list):
            for a in x[i]:
                if a == "\n":
                    x[i].remove(a)
                elif "\n" in a:
                    x[i].remove(a)
                    b = a.replace("\n", "")
                    x[i].append(b)
        elif isinstance(x[i], str):
            x[i] = x[i].replace("\n", "")

In [15]:
print('Checking First Registration column')
print('--------------------------')
print(df['First Registration'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['First Registration'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['First Registration'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['First Registration'].dtype,'\n\n')

Checking First Registration column
--------------------------
0        [\n, 2016, \n]
1        [\n, 2017, \n]
2        [\n, 2016, \n]
3        [\n, 2016, \n]
4        [\n, 2016, \n]
              ...
15914               NaN
15915    [\n, 2019, \n]
15916    [\n, 2019, \n]
15917    [\n, 2019, \n]
15918    [\n, 2019, \n]
Name: First Registration, Length: 15919, dtype: object


Number of each values
--------------------------
[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: First Registration, dtype: int64


Number of missing values
--------------------------
1597


Data type
--------------------------
object

In [16]:
#drop columns which have lots NAN values 
drop_columns = ["kW", "Next Inspection", "Inspection new", "Emission Label", "Electricity consumption", "Last Service Date", "Other Fuel Types", "Availability", "Last Timing Belt Service Date", "Available from", "url", "null", "Previous Owners", "registration", "Emission Class", "description", "Non-smoking Vehicle", "Model Code", "Weight"]
df.drop(drop_columns, axis = "columns", inplace = True)

In [17]:
df.shape

(15919, 35)

In [18]:
n_sil(df["First Registration"])

In [19]:
df["First Registration"]

0        [2016]
1        [2017]
2        [2016]
3        [2016]
4        [2016]
          ...
15914       NaN
15915    [2019]
15916    [2019]
15917    [2019]
15918    [2019]
Name: First Registration, Length: 15919, dtype: object

In [20]:
first_year =df["First Registration"].str[0]
first_year

0        2016
1        2017
2        2016
3        2016
4        2016
         ...
15914     NaN
15915    2019
15916    2019
15917    2019
15918    2019
Name: First Registration, Length: 15919, dtype: object

In [21]:
first_year1 = pd.DataFrame(first_year)
first_year1.head()

  First Registration
0               2016
1               2017
2               2016
3               2016
4               2016

In [22]:
for i in range(15919):
    first_year1.loc[i, "year"] = 2020

In [23]:
first_year1.head()

  First Registration    year
0               2016  2020.0
1               2017  2020.0
2               2016  2020.0
3               2016  2020.0
4               2016  2020.0

### General formul to make numeric

In [24]:
def columns_to_numeric(m, column_list):
    m[column_list] = m[column_list].apply(pd.to_numeric, errors='coerce')

In [25]:
columns_to_numeric(first_year1, ['First Registration','year'])

In [26]:
first_year1["Age"] = first_year1["year"]-first_year1["First Registration"]

In [27]:
first_year1["Age"].head()

0    4.0
1    3.0
2    4.0
3    4.0
4    4.0
Name: Age, dtype: float64

In [66]:
first_year1

       First Registration    year  Age
0                  2016.0  2020.0  4.0
1                  2017.0  2020.0  3.0
2                  2016.0  2020.0  4.0
3                  2016.0  2020.0  4.0
4                  2016.0  2020.0  4.0
...                   ...     ...  ...
15914                 NaN  2020.0  NaN
15915              2019.0  2020.0  1.0
15916              2019.0  2020.0  1.0
15917              2019.0  2020.0  1.0
15918              2019.0  2020.0  1.0

[15919 rows x 3 columns]

### Body Color column

In [67]:
print('Checking Body Color column')
print('--------------------------')
print(df['Body Color'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Body Color'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Body Color'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Body Color'].dtype,'\n\n')

Checking Body Color column
--------------------------
0        [Black]
1          [Red]
2        [Black]
3        [Brown]
4        [Black]
          ...
15914     [Grey]
15915     [Grey]
15916    [White]
15917     [Grey]
15918     [Grey]
Name: Body Color, Length: 15919, dtype: object


Number of each values
--------------------------
[Black]     3745
[Grey]      3505
[White]     3406
[Silver]    1647
[Blue]      1431
[Red]        957
NaN          597
[Brown]      289
[Green]      154
[Beige]      108
[Yellow]      51
[Violet]      18
[Bronze]       6
[Orange]       3
[Gold]         2
Name: Body Color, dtype: int64


Number of missing values
--------------------------
597


Data type
--------------------------
object

In [68]:
n_sil(df["Body Color"])

In [69]:
df["Body Color"]

0        [Black]
1          [Red]
2        [Black]
3        [Brown]
4        [Black]
          ...
15914     [Grey]
15915     [Grey]
15916    [White]
15917     [Grey]
15918     [Grey]
Name: Body Color, Length: 15919, dtype: object

In [70]:
body_color =df["Body Color"].str[0]
body_color

0        Black
1          Red
2        Black
3        Brown
4        Black
         ...
15914     Grey
15915     Grey
15916    White
15917     Grey
15918     Grey
Name: Body Color, Length: 15919, dtype: object

In [71]:
body_color = pd.DataFrame(body_color)
body_color

      Body Color
0          Black
1            Red
2          Black
3          Brown
4          Black
...          ...
15914       Grey
15915       Grey
15916      White
15917       Grey
15918       Grey

[15919 rows x 1 columns]

### merging two dataframe¶

In [72]:
comb = pd.concat([first_year1, body_color], axis=1, sort=False)

In [73]:
comb

       First Registration    year  Age Body Color
0                  2016.0  2020.0  4.0      Black
1                  2017.0  2020.0  3.0        Red
2                  2016.0  2020.0  4.0      Black
3                  2016.0  2020.0  4.0      Brown
4                  2016.0  2020.0  4.0      Black
...                   ...     ...  ...        ...
15914                 NaN  2020.0  NaN       Grey
15915              2019.0  2020.0  1.0       Grey
15916              2019.0  2020.0  1.0      White
15917              2019.0  2020.0  1.0       Grey
15918              2019.0  2020.0  1.0       Grey

[15919 rows x 4 columns]

### Paint Type column

In [74]:
print('Checking Paint Type column')
print('--------------------------')
print(df['Paint Type'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Paint Type'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Paint Type'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Paint Type'].dtype,'\n\n')

Checking Paint Type column
--------------------------
0        [Metallic]
1               NaN
2        [Metallic]
3        [Metallic]
4        [Metallic]
            ...
15914    [Metallic]
15915    [Metallic]
15916           NaN
15917           NaN
15918    [Metallic]
Name: Paint Type, Length: 15919, dtype: object


Number of each values
--------------------------
[Metallic]       9794
NaN              5772
[Uni/basic]       347
[Perl effect]       6
Name: Paint Type, dtype: int64


Number of missing values
--------------------------
5772


Data type
--------------------------
object

In [75]:
n_sil(df["Paint Type"])

In [76]:
df["Paint Type"]

0        [Metallic]
1               NaN
2        [Metallic]
3        [Metallic]
4        [Metallic]
            ...
15914    [Metallic]
15915    [Metallic]
15916           NaN
15917           NaN
15918    [Metallic]
Name: Paint Type, Length: 15919, dtype: object

In [77]:
paint_type =df["Paint Type"].str[0]
paint_type

0        Metallic
1             NaN
2        Metallic
3        Metallic
4        Metallic
           ...
15914    Metallic
15915    Metallic
15916         NaN
15917         NaN
15918    Metallic
Name: Paint Type, Length: 15919, dtype: object

In [78]:
paint_type = pd.DataFrame(paint_type)
paint_type

      Paint Type
0       Metallic
1            NaN
2       Metallic
3       Metallic
4       Metallic
...          ...
15914   Metallic
15915   Metallic
15916        NaN
15917        NaN
15918   Metallic

[15919 rows x 1 columns]

In [79]:
comb = pd.concat([comb, paint_type], axis=1, sort=False)

In [80]:
comb

       First Registration    year  Age Body Color Paint Type
0                  2016.0  2020.0  4.0      Black   Metallic
1                  2017.0  2020.0  3.0        Red        NaN
2                  2016.0  2020.0  4.0      Black   Metallic
3                  2016.0  2020.0  4.0      Brown   Metallic
4                  2016.0  2020.0  4.0      Black   Metallic
...                   ...     ...  ...        ...        ...
15914                 NaN  2020.0  NaN       Grey   Metallic
15915              2019.0  2020.0  1.0       Grey   Metallic
15916              2019.0  2020.0  1.0      White        NaN
15917              2019.0  2020.0  1.0       Grey        NaN
15918              2019.0  2020.0  1.0       Grey   Metallic

[15919 rows x 5 columns]

### Body Color Original column

In [81]:
print('Checking Body Color Original column')
print('--------------------------')
print(df['Body Color Original'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Body Color Original'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Body Color Original'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Body Color Original'].dtype,'\n\n')

Checking Body Color Original column
--------------------------
0                 [Mythosschwarz]
1                             NaN
2        [mythosschwarz metallic]
3                             NaN
4        [Mythosschwarz Metallic]
                   ...
15914              [Grigio scuro]
15915       [Stahl-Grau Metallic]
15916               [arktis-weiß]
15917                    [Grigio]
15918    [Titanium-Grau Metallic]
Name: Body Color Original, Length: 15919, dtype: object


Number of each values
--------------------------
NaN                         3759
[Onyx Schwarz]               338
[Bianco]                     282
[Mythosschwarz Metallic]     238
[Brillantschwarz]            216
                            ...
[Bianca - Tetto Nero]          1
[dezir rot]                    1
[nero/tetto argento met]       1
[Python Yellow Metallic]       1
[karbongrau]                   1
Name: Body Color Original, Length: 1928, dtype: int64


Number of missing values
--------------------------
3759


Data type
--------------------------
object

In [82]:
n_sil(df["Body Color Original"])

In [83]:
df["Body Color Original"]

0                 [Mythosschwarz]
1                             NaN
2        [mythosschwarz metallic]
3                             NaN
4        [Mythosschwarz Metallic]
                   ...
15914              [Grigio scuro]
15915       [Stahl-Grau Metallic]
15916               [arktis-weiß]
15917                    [Grigio]
15918    [Titanium-Grau Metallic]
Name: Body Color Original, Length: 15919, dtype: object

### Upholstery Column

### prev_owner and Previous Owners

In [84]:
print('Checking Upholstery column')
print('--------------------------')
print(df['Upholstery'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Upholstery'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Upholstery'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Upholstery'].dtype,'\n\n')

Checking Upholstery column
--------------------------
0               [Cloth, Black]
1                [Cloth, Grey]
2               [Cloth, Black]
3                          NaN
4               [Cloth, Black]
                 ...
15914                      NaN
15915                  [Cloth]
15916    [Full leather, Black]
15917           [Part leather]
15918    [Full leather, Brown]
Name: Upholstery, Length: 15919, dtype: object


Number of each values
--------------------------
[Cloth, Black]           5821
NaN                      3720
[Part leather, Black]    1121
[Cloth]                  1005
[Cloth, Grey]             891
[Cloth, Other]            639
[Full leather, Black]     575
[Black]                   491
[Grey]                    273
[Other, Other]            182
[Part leather]            140
[Full leather]            139
[Full leather, Brown]     116
[Part leather, Grey]      116
[Other, Black]            110
[Full leather, Other]      72
[Full leather, Grey]       67
[Part leather, Other]      65
[Other]                    56
[Part leather, Brown]      50
[alcantara, Black]         47
[Velour, Black]            36
[Full leather, Beige]      36
[Cloth, Brown]             28
[Velour]                   16
[Other, Grey]              15
[Cloth, Beige]             13
[Cloth, Blue]              12
[Brown]                    12
[Velour, Grey]              8
[Cloth, White]              8
[alcantara, Grey]           6
[Cloth, Red]                5
[Other, Yellow]             4
[Beige]                     3
[Part leather, Red]         3
[Part leather, Beige]       2
[Full leather, Blue]        2
[alcantara]                 2
[White]                     2
[Part leather, White]       2
[alcantara, Other]          2
[Blue]                      2
[Other, Brown]              1
[Full leather, Red]         1
[Full leather, White]       1
[Cloth, Orange]             1
Name: Upholstery, dtype: int64


Number of missing values
--------------------------
3720


Data type
--------------------------
object

In [85]:
n_sil(df["Upholstery"])

In [86]:
df["Upholstery"]

0               [Cloth, Black]
1                [Cloth, Grey]
2               [Cloth, Black]
3                          NaN
4               [Cloth, Black]
                 ...
15914                      NaN
15915                  [Cloth]
15916    [Full leather, Black]
15917           [Part leather]
15918    [Full leather, Brown]
Name: Upholstery, Length: 15919, dtype: object

In [87]:
car=df["Upholstery"].str[0]
car

0               Cloth, Black
1                Cloth, Grey
2               Cloth, Black
3                        NaN
4               Cloth, Black
                ...
15914                    NaN
15915                  Cloth
15916    Full leather, Black
15917           Part leather
15918    Full leather, Brown
Name: Upholstery, Length: 15919, dtype: object

### Body Column¶

In [88]:
print('Checking Body column')
print('--------------------------')
print(df['Body'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Body'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Body'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Body'].dtype,'\n\n')

Checking Body column
--------------------------
0        [Sedans]
1        [Sedans]
2        [Sedans]
3        [Sedans]
4        [Sedans]
           ...
15914       [Van]
15915       [Van]
15916       [Van]
15917       [Van]
15918       [Van]
Name: Body, Length: 15919, dtype: object


Number of each values
--------------------------
[Sedans]           7903
[Station wagon]    3553
[Compact]          3153
[Van]               783
[Other]             290
[Transporter]        88
NaN                  60
[Off-Road]           56
[Coupe]              25
[Convertible]         8
Name: Body, dtype: int64


Number of missing values
--------------------------
60


Data type
--------------------------
object

In [89]:
n_sil(df["Body"])

In [90]:
df["Body"]

0        [Sedans]
1        [Sedans]
2        [Sedans]
3        [Sedans]
4        [Sedans]
           ...
15914       [Van]
15915       [Van]
15916       [Van]
15917       [Van]
15918       [Van]
Name: Body, Length: 15919, dtype: object

In [91]:
body =df["Body"].str[0]
body

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: Body, Length: 15919, dtype: object

### Nr. of Doors Column

In [92]:
print('Checking Nr. of Doors column')
print('--------------------------')
print(df['Nr. of Doors'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Nr. of Doors'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Nr. of Doors'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Nr. of Doors'].dtype,'\n\n')

Checking Nr. of Doors column
--------------------------
0        [5]
1        [3]
2        [4]
3        [3]
4        [5]
        ...
15914    [5]
15915    [5]
15916    [5]
15917    [5]
15918    [5]
Name: Nr. of Doors, Length: 15919, dtype: object


Number of each values
--------------------------
[5]    11575
[4]     3079
[3]      832
[2]      219
NaN      212
[7]        1
[1]        1
Name: Nr. of Doors, dtype: int64


Number of missing values
--------------------------
212


Data type
--------------------------
object

In [93]:
n_sil(df["Nr. of Doors"])

In [94]:
df["Nr. of Doors"]

0        [5]
1        [3]
2        [4]
3        [3]
4        [5]
        ...
15914    [5]
15915    [5]
15916    [5]
15917    [5]
15918    [5]
Name: Nr. of Doors, Length: 15919, dtype: object

In [95]:
door =df["Nr. of Doors"].str[0]
door

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

In [96]:
door = pd.DataFrame(door)
door

      Nr. of Doors
0                5
1                3
2                4
3                3
4                5
...            ...
15914            5
15915            5
15916            5
15917            5
15918            5

[15919 rows x 1 columns]

In [97]:
comb = pd.concat([comb, door], axis=1, sort=False)

In [98]:
comb

       First Registration    year  Age Body Color Paint Type Nr. of Doors
0                  2016.0  2020.0  4.0      Black   Metallic            5
1                  2017.0  2020.0  3.0        Red        NaN            3
2                  2016.0  2020.0  4.0      Black   Metallic            4
3                  2016.0  2020.0  4.0      Brown   Metallic            3
4                  2016.0  2020.0  4.0      Black   Metallic            5
...                   ...     ...  ...        ...        ...          ...
15914                 NaN  2020.0  NaN       Grey   Metallic            5
15915              2019.0  2020.0  1.0       Grey   Metallic            5
15916              2019.0  2020.0  1.0      White        NaN            5
15917              2019.0  2020.0  1.0       Grey        NaN            5
15918              2019.0  2020.0  1.0       Grey   Metallic            5

[15919 rows x 6 columns]

### body type is similar to body

### **body type

In [99]:
### Marka model uzerinden giderek en cok ayri ayri tekrar eden deger ile doldurmak mantikli burda ve fonk yazdik.

In [100]:
def fill_most(df, group_col,col_name):
    for group in list(df[group_col].unique()):
        grp_inx = list(df[df[group_col]==group][col_name].index)
        df[col_name].iloc[grp_inx] =df [col_name].iloc[grp_inx].fillna(df[df[group_col]==group][col_name].mode()[0])

In [101]:
### OTHER METHODS
def fillna(col1,col2):
    s=rw[rw.make_model==col1][col2]
    g = list(s.items())
    idx = [i for i,j in g if pd.isnull(j)]
    d = rw[col2]
    for i in range(len(idx)) :
        d[idx[i]] = s.mode()[0]
    return rw[col2].isnull().sum()


#car['body_type2'] = car['body_type'].fillna(car.groupby('model1')['body_type'].apply(lambda x: x.fillna(x.mode()[0])))

In [102]:
fill_most(df, "make_model","body_type")

In [103]:
fill_most(df, "make_model","Extras")

KeyError: 'Extras'

In [ ]:
def fill_most(df, "make_model","Comfort&Convenience")

In [104]:
grp_inx = list(df[df["make_model"]=="Audi A3"]["body_type"].index)

In [105]:
df["body_type"].iloc[grp_inx]

2615      Convertible
2616           Sedans
2617           Sedans
2618           Sedans
2619           Sedans
            ...
5707           Sedans
5708           Sedans
5709    Station wagon
5710           Sedans
5711           Sedans
Name: body_type, Length: 3097, dtype: object

In [106]:
df["make_model"].unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

In [107]:
for group in list(df["group_col"].unique()):

SyntaxError: unexpected EOF while parsing (<ipython-input-107-4fa186c08fc2>, line 1)

In [108]:
#df[df["gruop_col"]==group]["col_name"].index

In [109]:
#df[col_name].iloc[grp_inx]

In [110]:
df["body_type"].iloc[2615] ## Doluymus bu index NAN bulup onu bulmaya calisicaz, burada her bir NAN a Sedan doldurucaz simdi

'Convertible'

In [111]:
grp_inx = list(df[df["group_col"]=="group"]["col_name"].index)

grp_inx = list(df[df["make_model"]=="Audi A3"]["body_type"].index)

KeyError: 'group_col'

In [112]:
df["body_type"].iloc[index] = df["body_type"].iloc[index].fillna

NameError: name 'index' is not defined

In [113]:
#df[col_name].iloc[grp_inx]
df['body_type'].iloc[2680] = "Sedan"

In [114]:
df['body_type'].iloc[2680]

'Sedan'

In [115]:
df[col_name].iloc[grp_inx] = df[col_name].iloc[grp_inx].fillna()

NameError: name 'col_name' is not defined

In [116]:
oto["make_model"].unique()

NameError: name 'oto' is not defined

In [117]:
for group in list(oto["make_model"].unique()):

SyntaxError: unexpected EOF while parsing (<ipython-input-117-f56f733922ed>, line 2)

In [118]:
oto[oto["make_model"]=="Audi A3"]["Body"]

NameError: name 'oto' is not defined

In [119]:
#oto[oto["make_model"]=="Audi A3"]["body_type"].fillna("Sedan")

In [120]:
df[df["make_model"]=="Audi A3"]["body_type"].mode()[0]

'Sedans'

In [121]:
df[df["make_model"]=="Audi A1"]["body_type"].mode()[0]

'Sedans'

In [122]:
oto[oto["make_model"]=="Renault Espace"]["body_type"].mode()[0]

NameError: name 'oto' is not defined

In [123]:
df[df["make_model"]=="Audi A3"]["Body"].index

Int64Index([2615, 2616, 2617, 2618, 2619, 2620, 2621, 2622, 2623, 2624,
            ...
            5702, 5703, 5704, 5705, 5706, 5707, 5708, 5709, 5710, 5711],
           dtype='int64', length=3097)

In [124]:
grp_inx = list(df[df["make_model"]=="Audi A3"]["Body"].index)

In [125]:
grp_inx = list(df[df["group_col"]=="Audi A3"]["Body"].index)

KeyError: 'group_col'

### **body
### Body type ile kasilastirildiginda body dusurulebilir.

### Inspection new 

# It has %77 of missing value. For now, lets's leave it as it is. We can take a look at it again later.

In [126]:
### next_inspection

In [127]:
df['Next Inspection'].value_counts(dropna=False)

KeyError: 'Next Inspection'

In [ ]:
#join list yapabiliriz string olur

#df["Next Inspection"] = [item[0] if type(item) == list else item for item in df["Next Inspection"]]

next inspection icin yapilan islem: liste icindekileri disari cikarip string yapmak, zaten string olanlari korumak. sonucta degerlerin hepsini temiz string yapmak

In [128]:
"a b c".strip()

'a b c'

In [129]:
''.join().strip()

TypeError: join() takes exactly one argument (0 given)

In [130]:
''.join("   benim adim joseph    ").strip() ### Strip ile jenerik duzenledik bosluklari atip duzgun halde veriyor.

'benim adim joseph'

In [131]:
''.join(["benim adim joseph"]) # liste olarak atilan degeri disari string olarak cikarir JOIN.

'benim adim joseph'

In [132]:
''.join().strip() if type(item) == list else item for item in df ["Next Inspection"]
#bastan ve sondan striplesin benim item im listenin icerisinde ise

SyntaxError: invalid syntax (<ipython-input-132-f3db5f467c1a>, line 1)

In [133]:
df["Next Inspection"].head()

KeyError: 'Next Inspection'

In [134]:
# type list ise yukaridaki kurali uygulayacak nan ayni kalaacak string ise else yani oldugu gibi birak.

In [135]:
z =[ ''.join(item).strip() if type(item) == list else item for item in df ["Next Inspection"]]
#ternary condition

KeyError: 'Next Inspection'

In [136]:
z1 = pd.DataFrame(z)
z1

NameError: name 'z' is not defined

In [137]:
def list_extract(old_col_name, new_col_name)

SyntaxError: invalid syntax (<ipython-input-137-b3b767b7d1ba>, line 1)

### New Column Name

def explosion(df,column,new_col_name):
    df_exploded = df[old_col_name].apply(pd.Series)
    df_exploded = df_exploded.rename(columns = lambda x : new_col_name + str(x))
    df = pd.concat([df[:], df_exploded[:]], axis=1)    
    return df

In [138]:
df["next_inspection"]= pd.DataFrame(z)
df["next_inspection"]

NameError: name 'z' is not defined

##### Other Method

def list_to_String(x):
    a = []
    if (isinstance(x, (list))):
        for i in x:
            if (isinstance(i, (float, int, str))) and (i != "") and (i != "\n"):
                          a.append(i)
    elif np.isnan(x):
        return np.NaN
    else:
        raise Exception ("Sorry, some values are not list")
    a= " ".join(a)
    return re.sub('\n', "", a)

In [139]:
country_1 = country.str.extract('(\d.\d|/d*)')
country_1.tail()

NameError: name 'country' is not defined

In [140]:
country_1.shape

NameError: name 'country_1' is not defined

In [141]:
comb_1.isnull().sum()

NameError: name 'comb_1' is not defined

In [142]:
comb_1.isnull().sum()

NameError: name 'comb_1' is not defined

In [143]:
city_1.isnull().sum()

NameError: name 'city_1' is not defined

In [144]:
country_1.isnull().sum()

NameError: name 'country_1' is not defined

In [145]:
Consumption_new = pd.concat([comb_1, city_1, country_1], axis = 0, ignore_index = True)

NameError: name 'comb_1' is not defined

In [146]:
Consumption_new.columns

NameError: name 'Consumption_new' is not defined

In [147]:
comb_1.values

NameError: name 'comb_1' is not defined

In [148]:
city_1.values

NameError: name 'city_1' is not defined

In [149]:
country_1.values

NameError: name 'country_1' is not defined

In [150]:
Consumption_new[[0,0,0]].rename(columns = {0:"comb", 0:"city", 0:"country"})

NameError: name 'Consumption_new' is not defined

In [151]:
oto["Consumption"][[0,1,2]].rename(columns = {0:"comb", 1:"city", 2:"country"})

NameError: name 'oto' is not defined

In [152]:
Consumption_new = pd.DataFrame({'comb':comb_1.values,'city':city_1.values,"country":country_1.values}, index=range(len(comb_1))
Consumption_new

SyntaxError: invalid syntax (<ipython-input-152-3315e4c47265>, line 2)

In [153]:
#df = pd.DataFrame({'income': income,'expense': expense, "profit": df.income - df.expense}, index=index)

#co_new[[0,1,2]].rename(columns = {0: "comb", 1: "city", 3: "country"})

In [154]:
#df["Consumption"] = df["Consumption"].str.strip('\n,')
df["Consumption"] = df["Consumption"].str.replace("\n,", "")

In [155]:
df["Consumption"].str.exctract("(\d.\d).+(\d.\d).+(\d.\d).+(\d.\d).+(\d.\d)")

AttributeError: Can only use .str accessor with string values!

In [156]:
consp[[0,1,3]].rename(columns = {0: "comb", 1:"city", 3:"country"})

NameError: name 'consp' is not defined

In [157]:
df.columns

Index(['make_model', 'short_description', 'body_type', 'price', 'vat', 'km',
       'prev_owner', 'hp', 'Type', 'Warranty', 'Full Service', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Gearing Type', 'Displacement', 'Cylinders',
       'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'Gears', 'Country version'],
      dtype='object')

In [158]:
#df["Nr. of Doors"].astype(float)
#df['Nr. of Doors'] = pd.to_numeric(df['Nr. of Doors'])
df['Nr. of Doors']

0        [5]
1        [3]
2        [4]
3        [3]
4        [5]
        ...
15914    [5]
15915    [5]
15916    [5]
15917    [5]
15918    [5]
Name: Nr. of Doors, Length: 15919, dtype: object

In [159]:
df["Nr. of Doors"].str[0].str[1]
#df["Nr. of Doors"].str[0].strip("\n")

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
15914   NaN
15915   NaN
15916   NaN
15917   NaN
15918   NaN
Name: Nr. of Doors, Length: 15919, dtype: float64

In [160]:
df['hp']

0         66 kW
1        141 kW
2         85 kW
3         66 kW
4         66 kW
          ...
15914    147 kW
15915    165 kW
15916    146 kW
15917    147 kW
15918    165 kW
Name: hp, Length: 15919, dtype: object

In [161]:
for i in range(len(df['hp'])):
    df['hp'][i]= re.sub('[^0-9]','',df['hp'][i])

NameError: name 're' is not defined

In [162]:
df.hp

0         66 kW
1        141 kW
2         85 kW
3         66 kW
4         66 kW
          ...
15914    147 kW
15915    165 kW
15916    146 kW
15917    147 kW
15918    165 kW
Name: hp, Length: 15919, dtype: object

In [163]:
df["First Registration"]

0        [2016]
1        [2017]
2        [2016]
3        [2016]
4        [2016]
          ...
15914       NaN
15915    [2019]
15916    [2019]
15917    [2019]
15918    [2019]
Name: First Registration, Length: 15919, dtype: object

In [164]:
pd.read_csv("ornekcsv.csv", sep = ";")

FileNotFoundError: [Errno 2] File ornekcsv.csv does not exist: 'ornekcsv.csv'

In [165]:
df["First Registration"].strip("\n")

AttributeError: 'Series' object has no attribute 'strip'

In [166]:
def n_sil('First Registration'):
    for i in range(0, len(['First Registration'])):
        if isinstance(First Registration[i], list):
            for a in First Registration[i]:
                if a == "\n":
                    First Registration[i].remove(a)
                elif "\n" in a:
                    First Registration[i].remove(a)
                    b = a.replace("\n", "")
                    First Registration[i].append(b)
        elif isinstance(First Registration[i], str):
            First Registration[i] = First Registration[i].replace("\n", "")

SyntaxError: invalid syntax (<ipython-input-166-7bc62bdf8fc2>, line 1)

In [167]:
def n_sil('Displacement'):
    for i in range(0, len(['Displacement'])):
        if isinstance(Displacement[i], list):

SyntaxError: invalid syntax (<ipython-input-167-3ac7a8f4b225>, line 1)

In [168]:
df["Displacement"].iloc[0][0]

'\n1,422 cc\n'

In [169]:
a= str(df["Displacement"].iloc[0][0])
a

'\n1,422 cc\n'

In [170]:
a[0].apply(lambda x: x.split("\n")[0]).value_counts().head(5)

AttributeError: 'str' object has no attribute 'apply'

In [171]:
df["Displacement"].str[0]

0        \n1,422 cc\n
1        \n1,798 cc\n
2        \n1,598 cc\n
3        \n1,422 cc\n
4        \n1,422 cc\n
             ...
15914    \n1,997 cc\n
15915    \n1,798 cc\n
15916    \n1,997 cc\n
15917    \n1,997 cc\n
15918    \n1,798 cc\n
Name: Displacement, Length: 15919, dtype: object

In [172]:
df["Displacement"].str[0].strip("\n")

AttributeError: 'Series' object has no attribute 'strip'

In [173]:
 for i in range(len(df["Displacement"])):
    a = re.search('(\d*.\d*)',str(df.Displacement[i][0]))
    print(a.group())

NameError: name 're' is not defined

In [174]:
k= []
k1 = k.append(print(a.group())
k1

SyntaxError: invalid syntax (<ipython-input-174-6d161e5da268>, line 3)

In [175]:
print(a.group())

AttributeError: 'str' object has no attribute 'group'

In [176]:
output = re.search('(\d*.\d*)', str(df.Displacement[1][0]))
print(output.group())

NameError: name 're' is not defined

In [177]:
import re
import pandas as pd

In [178]:
a = str(df.Displacement[0][0])
a

'\n1,422 cc\n'

In [179]:
a = str(df.Displacement[1][0])
a

'\n1,798 cc\n'

In [180]:
output = re.search('(\d*.\d*)', str(df.Displacement[1][0]))
print(output.group())

1,798

In [181]:
map(lambda x: x * 2 , my_list)

NameError: name 'my_list' is not defined

In [182]:
df.Displacement.apply(lambda x: re.search('(\d*.\d*)', str(df.Displacement[x][0]),df.Displacement)

SyntaxError: unexpected EOF while parsing (<ipython-input-182-625385d80644>, line 1)

In [183]:
[for i in re.search('(\d*.\d*)', str(df.Displacement[i][0]):
   result

SyntaxError: invalid syntax (<ipython-input-183-751ecd0ff662>, line 1)

In [184]:
df["Displacement"].str.extract(pat = '(/d*)')

         0
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
15914  NaN
15915  NaN
15916  NaN
15917  NaN
15918  NaN

[15919 rows x 1 columns]

In [185]:
def Clean_data(a): 
    # Search for opening bracket in the name followed by 
    # any characters repeated any number of times 
    if re.search('\,.*', a): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\,.*', a).start() 
  
        # return the cleaned name 
        return a[:pos] 
  
    else: 
        # if clean up needed return the same name 
        return a 
          
# Updated the city columns 
df['Displacement'] = df['Displacement'].apply(Clean_data) 
  
# Print the updated dataframe 
print(df)

TypeError: expected string or bytes-like object

In [186]:
s = pd.Series(df["Displacement"])
s

0        [\n1,422 cc\n]
1        [\n1,798 cc\n]
2        [\n1,598 cc\n]
3        [\n1,422 cc\n]
4        [\n1,422 cc\n]
              ...
15914    [\n1,997 cc\n]
15915    [\n1,798 cc\n]
15916    [\n1,997 cc\n]
15917    [\n1,997 cc\n]
15918    [\n1,798 cc\n]
Name: Displacement, Length: 15919, dtype: object

In [187]:
df["Displacement"][150]

['\n999 cc\n']

In [188]:
re.findall("\d*.\d*", a)

['1,798', ' ', 'c', 'c']

In [189]:
output = re.search('(\d*.\d*)', a)
print(output.group())

1,798

In [190]:
total_list = []
for i in range(len(df.Displacement)):
       for  (re.search('(\d*.\d*)', df.Displacement[i])) in df.Displacement[i]:
        total_list.append(re.search('(\d*.\d*)', df.Displacement[i]))

SyntaxError: can't assign to function call (<ipython-input-190-40e6d5695c70>, line 3)

In [191]:
a.str.extract('(\d).+(\d*)')

AttributeError: 'str' object has no attribute 'str'

In [192]:
output.str.split(",")

AttributeError: 're.Match' object has no attribute 'str'

In [193]:
(output.group()).apply(lambda x: x.split(","))

AttributeError: 'str' object has no attribute 'apply'

In [194]:
(str(df.Displacement[0][0])).apply(lambda x: x.split("@")[1]).value_counts().head(5)

AttributeError: 'str' object has no attribute 'apply'

In [195]:
df["Displacement"].astype(int)

ValueError: setting an array element with a sequence.

In [196]:
#df["Displacement"].str[0].str[1]
df["Displacement"].str[0].strip("\n")

AttributeError: 'Series' object has no attribute 'strip'

In [197]:
df["Drive chain"]

0        [\nfront\n]
1        [\nfront\n]
2        [\nfront\n]
3                NaN
4        [\nfront\n]
            ...
15914    [\nfront\n]
15915    [\nfront\n]
15916    [\nfront\n]
15917    [\nfront\n]
15918      [\n4WD\n]
Name: Drive chain, Length: 15919, dtype: object

In [207]:
df["Gearing Type"]

0        [\n, Automatic, \n]
1        [\n, Automatic, \n]
2        [\n, Automatic, \n]
3        [\n, Automatic, \n]
4        [\n, Automatic, \n]
                ...
15914    [\n, Automatic, \n]
15915    [\n, Automatic, \n]
15916    [\n, Automatic, \n]
15917    [\n, Automatic, \n]
15918    [\n, Automatic, \n]
Name: Gearing Type, Length: 15919, dtype: object

In [213]:
df["Gearing Type"].str[1]

0        Automatic
1        Automatic
2        Automatic
3        Automatic
4        Automatic
           ...
15914    Automatic
15915    Automatic
15916    Automatic
15917    Automatic
15918    Automatic
Name: Gearing Type, Length: 15919, dtype: object

In [214]:
df["Body Color"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
15914   NaN
15915   NaN
15916   NaN
15917   NaN
15918   NaN
Name: Body Color, Length: 15919, dtype: float64

In [203]:
df["Body Color"].str[1].value_counts(dropna=False)

AttributeError: Can only use .str accessor with string values!

In [199]:
df["Body Color"] = df["Body Color"].str[1].str.strip()

In [200]:
df["Body Color"]

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
15914   NaN
15915   NaN
15916   NaN
15917   NaN
15918   NaN
Name: Body Color, Length: 15919, dtype: float64

In [ ]:
#df["Body Color"].fillna(method='bfill', inplace=True)

In [215]:
df["Body Color"].str[1].value_counts(dropna=False)

AttributeError: Can only use .str accessor with string values!

In [222]:
df["CO2 Emission"].value_counts(dropna= False)

NaN      2436
120.0     740
99.0      545
97.0      537
104.0     501
         ...
45.0        1
331.0       1
181.0       1
193.0       1
253.0       1
Name: CO2 Emission, Length: 121, dtype: int64

In [221]:
df["CO2 Emission"].str[0]

AttributeError: Can only use .str accessor with string values!

In [218]:
df["CO2 Emission"] = [item[0] if type(item) == list else item for item in df["CO2 Emission"]]
df["CO2 Emission"] = df["CO2 Emission"].str.strip("\n").str.rstrip(" g CO2/km (comb)").str.replace(",", ".").astype("float")

In [ ]:
oto['CO2 Emission'].str[0].str.strip('\n').str.replace('[^0-9]',"")

In [220]:
df["CO2 Emission"].str[0].strip('\n').value_counts(dropna= False).sample(55)

AttributeError: Can only use .str accessor with string values!

In [ ]:
#oto[“CO2 Emission”].str[0].str.strip(“\n”).str.replace(“[^0-9]“,”“)

In [ ]:
pattern = "(\d\d\d\d\d|\d\d\d\d|\d\d\d|\d\d\|\d)"

In [ ]:
oto['CO2 Emission'].str[0].str.strip('\n').str.replace(',',".").str.extract(pattern = "(\d\d\d\d\d|\d\d\d\d|\d\d\d|\d\d\|\d)")

In [223]:
df["CO2_Emission"].value_counts(dropna=False)

KeyError: 'CO2_Emission'

In [ ]:
### Medisan ile doldurmaya karar verdik cunku "otlier" lari cok fazla/

In [ ]:
df.CO2_Emsission.median()

In [ ]:
df.CO2_Emsission.fillna(df.CO2_Emsission.median()median(), inplace=True)

In [ ]:
oto.Displacement.str[0].str.lstrip("\n").str.rstrip(" cc\n").str.replace(",", "")

In [ ]:
str.rsplit('cc')

In [ ]:
df.Displacement

In [ ]:
#df.replace({"Displacement_cc: {}, "ikinci sutun": {}, "ucuncu": {}})

In [225]:
df.replace({"Displacement_cc": {",": "", " ": "", "cc": ""}}, regex= True, inplace=True)

In [ ]:
df.replace({"Displacement_cc: {}, "ikinci sutun": {}, "ucuncu": {}})

In [227]:
#Numeric yapiyoruz birakiyoruz 
df.Displacement=pd.to_numeric(df.Displacement)

TypeError: Invalid object type at position 0

In [228]:
df["Emission Class"].str[0].str.strip("\n").value_counts(dropna=False)

KeyError: 'Emission Class'

In [ ]:
#categoric degiskenleri olabildigince dusurmek onemli anlamli bir sekilde dusurmeli

In [ ]:
df.["Emission_Class"] = df["Emission Class"].str[0].str.strip("\n")

In [ ]:
df.replace({"Emission_Class": { "Euro 6d-TEMP" : "Euro 6", "Euro 6c": "Euro 6", "Euro 6d": "Euro 6"}}

In [ ]:
value_counts

In [ ]:
df["First Registration"]

In [ ]:
df["register_age"] = pd.to_numeric(df["First Registration"]).str[1]

In [229]:
df["register_age"] = 2020 - df["register_age"]

KeyError: 'register_age'

In [230]:
df["register_age"].value_counts(dropna=False)

KeyError: 'register_age'

In [232]:
df["Fuel"].isnull.sum()/df["Fuel"].shape[0]*100

AttributeError: 'function' object has no attribute 'sum'

In [233]:
df["Fuel"].head()

0    [\n, Diesel (Particulate Filter), \n]
1                       [\n, Gasoline, \n]
2    [\n, Diesel (Particulate Filter), \n]
3    [\n, Diesel (Particulate Filter), \n]
4    [\n, Diesel (Particulate Filter), \n]
Name: Fuel, dtype: object

In [234]:
df["Fuel"].value_counts(dropna = False).tail()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, Super Plus 98 / Super E10 95, \n]                                                                                 1
[\n, Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98, \n]    1
[\n, Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95, \n]    1
[\n, Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98, \n]                             1
[\n, Domestic gas H, \n]                                                                                               1
Name: Fuel, dtype: int64

In [237]:
df["Fuel"].str[1].value_counts(dropna= False)

Diesel (Particulate Filter)                                                                                  4315
Super 95                                                                                                     3338
Gasoline                                                                                                     3175
Diesel                                                                                                       2984
Super 95 / Regular/Benzine 91                                                                                 424
                                                                                                             ...
Super 95 / Regular/Benzine 91 (Particulate Filter)                                                              1
Super Plus 98 / Regular/Benzine 91                                                                              1
Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91       1
Super Plus 98 / Super E10 95                                                                                    1
Super 95 / Super E10 95 / Super Plus E10 98                                                                     1
Name: Fuel, Length: 77, dtype: int64

In [ ]:
df["fuel_new"] = df["Fuel"].str[1]

In [ ]:
diesel_bool = df["fuel_new"].str.contains("diesel", case = False. regex =True)

In [ ]:
##Case False yaparsak hem kucuk hem buyuk hafrleri yakalar.
lpg_bool = df["fuel_new"].str.contaiins("lpg|cng|bio|domestic|electric", case =False, regex = True)

In [ ]:
# loc un icine boolen bir seri yollayacaz ve ayni zaman da bir sutun ismi yazicaz 
# ilk once condition serisi yazilir ve column ismi yazilir
df.loc[diesel_bool, "fuel_new"] = "Diesel"

In [ ]:
df.loc[lpg_bool, "fuel_new"] = "LPG/CNG"

In [ ]:
## Kosullu bir index leme yapicaz

In [ ]:
df.fuel_new.loc[lambda x : x != "Diesel"] & [lambda x : ])"LPG/CNG"]

In [ ]:
benz = list([lambda x : x != "Diesel"]  [lambda x : "LPG/CNG"])

### "Gears"

In [239]:
df["Gears"].head()

0        NaN
1    [\n7\n]
2        NaN
3    [\n6\n]
4        NaN
Name: Gears, dtype: object

In [240]:
df[df["Gears"]=="50"]

Empty DataFrame
Columns: [make_model, short_description, body_type, price, vat, km, prev_owner, hp, Type, Warranty, Full Service, Make, Model, Offer Number, First Registration, Body Color, Paint Type, Body Color Original, Upholstery, Body, Nr. of Doors, Nr. of Seats, Gearing Type, Displacement, Cylinders, Drive chain, Fuel, Consumption, CO2 Emission,
Comfort & Convenience
,
Entertainment & Media
,
Extras
,
Safety & Security
, Gears, Country version]
Index: []

In [242]:
df["Gears"].iloc[14495] = "5"

### "Make"

In [243]:
df.Make.value_counts(dropna = False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

### "Model"

In [244]:
df.Model.value_counts(dropna = False)

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1652, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[\n, A3, \n]          3097
[\n, A1, \n]          2614
[\n, Insignia, \n]    2598
[\n, Astra, \n]       2526
[\n, Corsa, \n]       2219
[\n, Clio, \n]        1839
[\n, Espace, \n]       991
[\n, Duster, \n]        34
[\n, A2, \n]             1
Name: Model, dtype: int64

In [246]:
df.Model = df.Model.str[1]
df.Model.value_counts(dropna = False)

s    3517
3    3097
1    2614
n    2598
o    2219
l    1839
u      34
2       1
Name: Model, dtype: int64

### "Nr. of Doors"