In [273]:
import numpy as np
import pandas as pd

In [274]:
#Indexle mede defeaoul index icin fazladan gelen index icin silmek istersek 
#ri =pd.read_csv("cleaned.csv", nrows=50000, index_col=0) kullaniyoruz.

In [275]:
df= pd.read_json("scout_car.json", lines = True)

In [276]:
pd.set_option('display.max_columns', None)
df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [277]:
df.shape

(15919, 54)

In [278]:
df.hp

0         66 kW
1        141 kW
2         85 kW
3         66 kW
4         66 kW
          ...
15914    147 kW
15915    165 kW
15916    146 kW
15917    147 kW
15918    165 kW
Name: hp, Length: 15919, dtype: object

In [279]:
df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [280]:
df.isnull().sum()/ df.isnull().shape[0]*100

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [281]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [282]:
def show_nans(df, limit):
    missing = df.isnull().sum()*100/df.shape[0]
    return missing.loc[lambda x : x > limit]
show_nans(df,70)

kW                               100.000000
Next Inspection                   77.793831
Inspection new                    75.299956
Emission Label                    74.967021
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [283]:
df.drop(['kW', 'Next Inspection', 'Inspection new', 'Emission Label', 'Electricity consumption', 'Last Service Date', 'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date', 'Available from'], axis='columns', inplace=True)
df.head(20)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,Type,Previous Owners,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Gears,Country version
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n7\n],NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical ...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running light...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2016, \n]","[\n, Brown, \n]",[\nMetallic\n],NaN,NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,195 kg\n]",NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air suspension, Armrest, Auxiliary heating, E...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport seats, Voice Control]","[ABS, Alarm system, Central door lock with rem...","[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",[\n6\n],NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,"[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nC1626\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n109 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package, Sport suspension...","[ABS, Central door lock, Driver-side airbag, E...","[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,[\nGermany\n]
5,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.6 TDI Sport DSG *SHZ*Xenon*Navi*Bose*PDC*,Sedans,15090,None,"63,668 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\n, \n, \n92 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",[],\nAudi\n,"[\n, A1, \n]",[\nJV03654\n],"[\n, 2016, \n]","[\n, White, \n]",[\nMetallic\n],NaN,"[\nPart leather, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,NaN,"[\n, Diesel (Particulate Filter), \n]","[[3.5 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n92 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport package, Sport seats, Spo...","[ABS, Central door lock, Daytime running light...",[\nSichern Sie sich diesen Audi A1 1.6 TDI Spo...,NaN,[\nGermany\n]
6,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S-TRONIC S-LINE*NAVI|XENON*,Station wagon,16422,VAT deductible,"62,111 km",03/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",[],\nAudi\n,"[\n, A1, \n]",[\n200-19\n],"[\n, 2016, \n]","[\n, White, \n]",[\nMetallic\n],[\nGletscherweiss\n],"[\nPart leather, Black\n]","[\n, Station wagon, \n]",[\n4\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.7 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n98 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, O...","[Alloy wheels, Sport package, Sport seats, Spo...","[ABS, Central door lock, Daytime running light...","[\nREDUZIERT !!!, MwSt. ausweisbar, Nettopreis...",NaN,[\nGermany\n]
7,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI admired S tronic,Compact,14480,VAT deductible,"14,986 km",02/2016,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,"[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]",NaN,[],\nAudi\n,"[\n, A1, \n]",[\n18381A-Q2\n],"[\n, 2016, \n]","[\n, Red, \n]",[\nMetallic\n],[\nMisanorot Perleffekt\n],"[\nCloth, Black\n]","[\n, Compact, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.7 l/100 km (comb)], [4.2 l/100 km (city)],...",[\n97 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Electrical side mi...","[CD player, MP3, Radio]",[Alloy wheels],"[ABS, Central door lock, Daytime running light...","[\n, Ausstattungspakete:, Ausstattungspaket: ...",[\n7\n],NaN
8,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,SPB 1.6 TDI S-tronic Metal plus + Xeno,Sedans,16700,None,"57,000 km",02/2016,1 previous owner,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,"[\n12 months\n, \nEuro 6\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n11540324\n],"[\n, 2016, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nGrigio\n],"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,275 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.7 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n97 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Power windows]",[Radio],[Alloy wheels],"[ABS, Central door lock, Driver-side airbag, E...",[\nAuto in ottime condizioni. Unico proprietar...,[\n7\n],NaN
9,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,SPORTBACK TFSI ULTRA 95 S-TRONIC AMB.,Sedans,17990,None,"16,103 km",06/2017,None,70 kW,"[, Used, , Gasoline]",NaN,\n3 months\n,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, White, \n]",NaN,[\nBlanc\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]",[\n999 cc\n],NaN,NaN,NaN,"[\n, Gasoline, \n]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[\nClim automatique,Ecran multifonction couleu...",[\n7\n],NaN
10,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,SPORTBACK1.6 TDI 116 CV S tronic Metal plus,Sedans,18500,VAT deductible,"11,300 km",05/2018,None,85 kW,"[, Used, , Diesel (Particulate Filter)]",NaN,NaN,\n,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n11159281\n],"[\n, 2018, \n]","[\n, Black, \n]",[\nMetallic\n],[\nNero\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,250 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[4 l/100 km (comb)], [4.6 l/100 km (city)], [...",[\n105 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Multi-function steering whe...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Shift paddles]","[ABS, Central door lock, Daytime running light...","[\nautovettura ufficiale unico proprietario , ...",[\n7\n],[\nItaly\n]
11,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback Sport »1.4 TFSI|Xenon|Navi|EPH+|SHZ|...,Sedans,17990,None,"26,415 km",05/2016,1 previous owner,92 kW,"[, Used, , Super 95]",\n1\n,"[\n, \n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\n12524\n],"[\n, 2016, \n]","[\n, Silver, \n]",[\nUni/basic\n],[\nFlorettsilber Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],NaN,[\n0588/BDC\n],"[\n, Automatic, \n]","[\n1,395 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Super 95, \n]","[[4.9 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n112 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[CD player, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats]","[ABS, Central door lock, Daytime running light...","[\n, Außenausstattung, beheizbare Außenspiegel...",NaN,NaN
12,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TFSI S-tronic *S line*NAV*XEN*,Sedans,18380,None,"31,600 km",09/2016,1 previous owner,92 kW,"[, Used, , Regular/Benzine 91]",\n1\n,"[\n, \n, \nEuro 6\n]",NaN,"[\n, \n, \n4 (Green)\n]",[],\nAudi\n,"[\n, A1, \n]",[\n86G-57454\n],"[\n, 2016, \n]","[\n, White, \n]",[\nMetallic\n],[\nGletscherweiss Metallic\n],"[\nPart leather, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDC\n],"[\n, Automatic, \n]","[\n1,395 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Regular/Benzine 91, \n]","[[4.9 l/100 km (comb)], [6.2 l/100 km (city)],...",[\n112 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Catalytic Converter, Sport pack...","[ABS, Central door lock, Daytime running light...","[\n, Highlights:, Anschlussgarantie 1 Jahr, ma...",NaN,[\nGermany\n]
13,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TFSI 150ch COD Ambition Luxe S tronic 7,Sedans,18399,None,"45,764 km",06/2016,None,112 kW,"[, Used, , Gasoline]",NaN,\n12 months\n,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nscap-ED-642-CV\n],"[\n, 2016, \n]","[\n, Grey, \n]",NaN,[\nGris Clair\n],NaN,"[\n, Sedans, \n]",[\n3\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,395 cc\n]",NaN,NaN,NaN,"[\n, Gasoline, \n]",NaN,NaN,NaN,"[Air conditioning, Automatic climate control, ...","[Bluetooth, On-board computer, Radio]","[Alloy wheels, Sport seats, Sport suspension]","[ABS, Adaptive headlights, Central door lock, ...",[\nMarque: AUDIModèle: A1Version: 1.4 TFSI 150...,NaN,NaN
14,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.0 TFSI S-TRonic*Navi*Xenon*APS* Sport,Sedans,17990,VAT deductible,"34,914 km",10/2016,1 previous owner,70 kW,"[, Used, , Super 95]",\n1\n,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nM-946725\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz Metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n4\n],[\n0588/BDB\n],"[\n, Automatic, \n]",[\n999 cc\n],[\n3\n],"[\n1,135 kg\n]",[\nfront\n],"[\n, Super 95, \n]","[[4.2 l/100 km (comb)], [5 l/100 km (city)], [...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, CD player, Hands-free equipment, O...","[Alloy wheels, Sport seats, Sport suspension]","[ABS, Central door lock, Daytime running light...","[\n, www.nord-automobile.de, AUDI A1 1.0 TFSI...",[\n7\n],[\nGermany\n]
15,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,SPB 1.6 TDI 116 CV S tronic Sport,Sedans,18700,VAT deductible,"27,000 km",04/2016,1 previous owner,85 kW,"[, Employee's car, , Diesel (Particulate Filter)]",\n1\n,"[\n12 months\n, \nEuro 6\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\n11597161\n],"[\n, 2016, \n]","[\n, Grey, \n]",[\nMetallic\n],[\nGrigio\n],"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,275 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.7 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n97 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Cruise control, El...","[Bluetooth, CD player, Hands-free equipment, M...",[Alloy wheels],"[ABS, Central door lock, Daytime running light...",[\nNICE'S CAR SRL FA PARTE DELLA COMMUNITY DI ...,[\n7\n],NaN
16,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,SPB 1.6 TDI 116 CV Design S-Line SPB 1.6 TDI 1...,Sedans,18900,VAT deductible,"9,752 km",06/2018,None,85 kW,"[, Used, , Diesel]",NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n2569525\n],"[\n, 2018, \n]","[\n, Blue, \n]",NaN,[\nAzzurro\n],NaN,"[\n, Sedans, \n]",[\n5\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],"[\n1,175 kg\n]",[\nfront\n],"[\n, Diesel, \n]","[[3.5 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n92 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Leather steering wheel, Pow...","[CD player, MP3, Radio]","[Alloy wheels, Sport package, Sport seats]","[Central door lock, Driver-side airbag, Electr...","[\nDEK:[2569525], Equipaggiamenti di serie:, I...",[\n5\n],NaN
17,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi S tronic*S-Line*Navigatie*Euro 6b*,Sedans,18500,VAT deductible,"28,408 km",11/2017,1 previous owner,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, White, \n]",NaN,NaN,"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Sport package]","[ABS, Alarm system, Central door lock, Central...","[\n, Onze service :, Volledige garantie (werk ...",[\n7\n],[\nBelgium\n]
18,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.0 TFSI 95pk Automaat Adrenalin,Compact,18400,VAT deductible,"50,280 km",07/2016,None,70 kW,"[, Used, , Gasoline]",NaN,"[\n6 months\n, \n103 g CO2/km (comb)\n]","[\n, \n, \nEuro 6\n]",NaN,[],\nAudi\n,"[\n, A1, \n]",[\nKB100T\n],"[\n, 2016, \n]","[\n, Black, \n]",NaN,[\nMythoszwart\n],"[\nCloth, Grey\n]","[\n, Compact, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]",[\n999 cc\n],[\n3\n],"[\n1,065 kg\n]",NaN,"[\n, Gasoline, \n]","[[4.5 l/100 km (comb)], [5.5 l/100 km (city)],...",[\n103 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, CD player, Hands-free equipment, O...",[Alloy wheels],"[ABS, Central door lock, Daytime running light...",[\nPrijs is inclusief gratis 6 maanden garanti...,[\n7\n],[\nNetherlands\n]
19,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI 116 CV S tronic Metal plus,Sedans,18500,VAT deductible,"13,406 km",05/2018,None,85 kW,"[, Used, , Diesel (Particulate Filter)]",NaN,\n,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\n4709\n],"[\n, 2018, \n]","[\n, Black, \n]",[\nMetallic\n],[\nNero mythos / grigio daytona\n],"[\nCloth, Other\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",[\n4\n],NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.6 l/100 km (city)],...",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Auxiliary heating,...","[Bluetooth, CD player, Hands-free equipment, M...","[Alloy wheels, Catalytic Converter, Shift padd...","[Alarm system, Central door lock, Daytime runn...","[\nOFFERTA N. 4709, VETTURA AZIENDALE UFFICIAL...",[\n7\n],NaN

In [284]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'Type', 'Previous Owners',
       'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Make',
       'Model', 'Offer Number', 'First Registration', 'Body Color',
       'Paint Type', 'Body Color Original', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type',
       'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Gears', 'Country version'],
      dtype='object')

In [286]:
#df["Consumption"].str.extract("(\d.\d*).+(\d.\d*).+(\d.\d*)")

In [287]:

def try_join(l):
    try:
        return ','.join(map(str, set(l)))
    except TypeError:
        return np.nan

In [312]:
# nested sütunları one dimensional hale getirmek için böyle bir fonk yazdım bende

def consumption(x):
    if type(x) == list and type(x[0])==list :
        return x[0]+x[1]+x[2]
    elif type(x)==list and len(x)>3
        return x

SyntaxError: invalid syntax (<ipython-input-312-bb2e5622debf>, line 3)

In [289]:
#df.explode("Type")

In [290]:
import re

In [291]:
df["Consumption"].head(3)

0    [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1    [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2    [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
Name: Consumption, dtype: object

In [295]:
df.Consumption.value_counts

<bound method IndexOpsMixin.value_counts of 0        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
1        [[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...
2        [[3.8 l/100 km (comb)], [4.4 l/100 km (city)],...
3        [[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...
4        [[4.1 l/100 km (comb)], [4.6 l/100 km (city)],...
                               ...
15914    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15915    [\n, 7.4 l/100 km (comb), \n, 9.2 l/100 km (ci...
15916    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15917    [[5.3 l/100 km (comb)], [6.2 l/100 km (city)],...
15918    [[6.8 l/100 km (comb)], [8.7 l/100 km (city)],...
Name: Consumption, Length: 15919, dtype: object>

In [296]:
def try_join(l):
    try:
        return ','.join(map(str, set(l)))
    except TypeError:
        return np.nan

In [297]:
l.dtype

NameError: name 'l' is not defined

In [299]:
df.Consumption.shape

(15919,)

In [301]:
#df["Consumption"].str.exctract("(\d.\d).+(\d.\d).+(\d.\d).+(\d.\d).+(\d.\d)")

In [302]:
comb = df["Consumption"].str[0].str[0]
comb.head()

0    3.8 l/100 km (comb)
1    5.6 l/100 km (comb)
2    3.8 l/100 km (comb)
3    3.8 l/100 km (comb)
4    4.1 l/100 km (comb)
Name: Consumption, dtype: object

In [305]:
comb.tail(20)

15899    5.3 l/100 km (comb)
15900    7.4 l/100 km (comb)
15901    5.1 l/100 km (comb)
15902    5.3 l/100 km (comb)
15903                    NaN
15904    5.3 l/100 km (comb)
15905    6.8 l/100 km (comb)
15906    7.4 l/100 km (comb)
15907                     \n
15908                    NaN
15909                    NaN
15910      6 l/100 km (comb)
15911    4.7 l/100 km (comb)
15912    5.3 l/100 km (comb)
15913    6.8 l/100 km (comb)
15914    5.3 l/100 km (comb)
15915                     \n
15916    5.3 l/100 km (comb)
15917    5.3 l/100 km (comb)
15918    6.8 l/100 km (comb)
Name: Consumption, dtype: object

In [303]:
comb.shape

(15919,)

In [228]:
comb.value_counts()

\n                     850
3.9 l/100 km (comb)    732
4 l/100 km (comb)      712
5.4 l/100 km (comb)    662
5.1 l/100 km (comb)    627
                      ...
7.5 l/100 km (comb)      1
1.2 l/100 km (comb)      1
50 l/100 km (comb)       1
1 l/100 km (comb)        1
55 l/100 km (comb)       1
Name: Consumption, Length: 80, dtype: int64

In [229]:
comb_1 = comb.str.extract('(\d.\d|/d*)')
comb_1

         0
0      3.8
1      5.6
2      3.8
3      3.8
4      4.1
...    ...
15914  5.3
15915  NaN
15916  5.3
15917  5.3
15918  6.8

[15919 rows x 1 columns]

In [306]:
comb_1.tail(20)

         0
15899  5.3
15900  7.4
15901  5.1
15902  5.3
15903  NaN
15904  5.3
15905  6.8
15906  7.4
15907  NaN
15908  NaN
15909  NaN
15910    /
15911  4.7
15912  5.3
15913  6.8
15914  5.3
15915  NaN
15916  5.3
15917  5.3
15918  6.8

In [230]:
city = df["Consumption"].str[1].str[0]
city.head()

0    4.3 l/100 km (city)
1    7.1 l/100 km (city)
2    4.4 l/100 km (city)
3    4.3 l/100 km (city)
4    4.6 l/100 km (city)
Name: Consumption, dtype: object

In [231]:
city_1 = city.str.extract('(\d.\d|/d*)')
city_1.head()

     0
0  4.3
1  7.1
2  4.4
3  4.3
4  4.6

In [232]:
city_1.shape

(15919, 1)

In [233]:
country = df["Consumption"].str[2].str[0]
country.head()

0    3.5 l/100 km (country)
1    4.7 l/100 km (country)
2    3.4 l/100 km (country)
3    3.5 l/100 km (country)
4    3.8 l/100 km (country)
Name: Consumption, dtype: object

In [234]:
country_1 = city.str.extract('(\d.\d|/d*)')
country_1.head()

     0
0  4.3
1  7.1
2  4.4
3  4.3
4  4.6

In [235]:
country_1.shape

(15919, 1)

In [236]:
comb_1.isnull().sum()

0    2883
dtype: int64

In [237]:
comb_1.isnull().sum()/ comb_1.isnull().shape[0]*100

0    18.110434
dtype: float64

In [238]:
city_1.isnull().sum()/ city_1.isnull().shape[0]*100

0    20.554055
dtype: float64

In [239]:
country_1.isnull().sum()/ country_1.isnull().shape[0]*100

0    20.554055
dtype: float64

In [240]:
Consumption_new = pd.concat([comb_1, city_1, country_1], axis = 0, ignore_index = True)

In [241]:
Consumption_new.columns

Int64Index([0], dtype='int64')

In [242]:
comb_1.values

array([['3.8'],
       ['5.6'],
       ['3.8'],
       ...,
       ['5.3'],
       ['5.3'],
       ['6.8']], dtype=object)

In [243]:
city_1.values

array([['4.3'],
       ['7.1'],
       ['4.4'],
       ...,
       ['6.2'],
       ['6.2'],
       ['8.7']], dtype=object)

In [244]:
country_1.values

array([['4.3'],
       ['7.1'],
       ['4.4'],
       ...,
       ['6.2'],
       ['6.2'],
       ['8.7']], dtype=object)

In [245]:
Consumption_new[[0,0,0]].rename(columns = {0:"comb", 0:"city", 0:"country"})

      country country country
0         3.8     3.8     3.8
1         5.6     5.6     5.6
2         3.8     3.8     3.8
3         3.8     3.8     3.8
4         4.1     4.1     4.1
...       ...     ...     ...
47752     6.2     6.2     6.2
47753     NaN     NaN     NaN
47754     6.2     6.2     6.2
47755     6.2     6.2     6.2
47756     8.7     8.7     8.7

[47757 rows x 3 columns]

In [246]:
Consumption_new = pd.DataFrame({'comb':comb_1.values,'city':city_1.values,"country":country_1.values}, index=range(len(comb_1))
Consumption_new

SyntaxError: invalid syntax (<ipython-input-246-3315e4c47265>, line 2)

In [247]:
#df = pd.DataFrame({'income': income,'expense': expense, "profit": df.income - df.expense}, index=index)

#co_new[[0,1,2]].rename(columns = {0: "comb", 1: "city", 3: "country"})

In [248]:
#df["Consumption"] = df["Consumption"].str.strip('\n,')
df["Consumption"] = df["Consumption"].str.replace("\n,", "")

In [249]:
df["Consumption"].str.exctract("(\d.\d).+(\d.\d).+(\d.\d).+(\d.\d).+(\d.\d)")

AttributeError: Can only use .str accessor with string values!

In [250]:
consp[[0,1,3]].rename(columns = {0: "comb", 1:"city", 3:"country"})

NameError: name 'consp' is not defined

In [251]:
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'hp', 'Type', 'Previous Owners',
       'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null', 'Make',
       'Model', 'Offer Number', 'First Registration', 'Body Color',
       'Paint Type', 'Body Color Original', 'Upholstery', 'Body',
       'Nr. of Doors', 'Nr. of Seats', 'Model Code', 'Gearing Type',
       'Displacement', 'Cylinders', 'Weight', 'Drive chain', 'Fuel',
       'Consumption', 'CO2 Emission', 'Emission Class',
       '\nComfort & Convenience\n', '\nEntertainment & Media\n', '\nExtras\n',
       '\nSafety & Security\n', 'description', 'Gears', 'Country version'],
      dtype='object')

In [252]:
#df["Nr. of Doors"].astype(float)
#df['Nr. of Doors'] = pd.to_numeric(df['Nr. of Doors'])
df['Nr. of Doors']

0        [\n5\n]
1        [\n3\n]
2        [\n4\n]
3        [\n3\n]
4        [\n5\n]
          ...
15914    [\n5\n]
15915    [\n5\n]
15916    [\n5\n]
15917    [\n5\n]
15918    [\n5\n]
Name: Nr. of Doors, Length: 15919, dtype: object

In [253]:
df["Nr. of Doors"].str[0].str[1]
#df["Nr. of Doors"].str[0].strip("\n")

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

In [254]:
df['hp']

0         66 kW
1        141 kW
2         85 kW
3         66 kW
4         66 kW
          ...
15914    147 kW
15915    165 kW
15916    146 kW
15917    147 kW
15918    165 kW
Name: hp, Length: 15919, dtype: object

In [255]:
for i in range(len(df['hp'])):
    df['hp'][i]= re.sub('[^0-9]','',df['hp'][i])

C:\Users\ilkca\anaconda3\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [256]:
df.hp

0         66
1        141
2         85
3         66
4         66
        ...
15914    147
15915    165
15916    146
15917    147
15918    165
Name: hp, Length: 15919, dtype: object

In [257]:
df["First Registration"]

0        [\n, 2016, \n]
1        [\n, 2017, \n]
2        [\n, 2016, \n]
3        [\n, 2016, \n]
4        [\n, 2016, \n]
              ...
15914               NaN
15915    [\n, 2019, \n]
15916    [\n, 2019, \n]
15917    [\n, 2019, \n]
15918    [\n, 2019, \n]
Name: First Registration, Length: 15919, dtype: object

In [258]:
pd.read_csv("ornekcsv.csv", sep = ";")

FileNotFoundError: [Errno 2] File ornekcsv.csv does not exist: 'ornekcsv.csv'

In [ ]:
df["First Registration"].strip("\n")

In [259]:
def n_sil('First Registration'):
    for i in range(0, len(['First Registration'])):
        if isinstance(First Registration[i], list):
            for a in First Registration[i]:
                if a == "\n":
                    First Registration[i].remove(a)
                elif "\n" in a:
                    First Registration[i].remove(a)
                    b = a.replace("\n", "")
                    First Registration[i].append(b)
        elif isinstance(First Registration[i], str):
            First Registration[i] = First Registration[i].replace("\n", "")

SyntaxError: invalid syntax (<ipython-input-259-7bc62bdf8fc2>, line 1)

In [260]:
df["Displacement"].head(3)

0    [\n1,422 cc\n]
1    [\n1,798 cc\n]
2    [\n1,598 cc\n]
Name: Displacement, dtype: object

In [270]:
for i in range(len(df["Displacement"])):
    a = re.search('(\d*.\d*)',str(df.Displacement[i][0]))
    print(a.group())

1,422
1,798
1,598
1,422
1,422
1,598
1,598
1,422
1,598
999
1,598
1,395
1,395
1,395
999
1,598
1,598
1,422
999
1,598
1,598
1,395
1,395
1,598
999
999
999
999
1,422
999
1,422
1,422
999
1,422
1,422
999
999
1,422
999
1,422
999
1,422
1,422
1,422
1,422
999
1,422
1,598
999
999
1,422
999
999
1,598
1,422
999
999
999
1,422
999
1,422
999
999
1,598
1,422
999
1,598
999
999
999
999
1,395
999
999
999
1,598
929
1,395
1,395
1,422
1,598
1,598
999
1,598
1,422
1,422
999
1,598
1,395
1,395
1,395
1,422
999
1,395
999
1,598
1,598
1,598
1,598
1,395
1,598
1,598
1,598
1,598
1,598
1,598
1,598
1,598
1,598
999
1,598
1,598
999
1,598
999
1,395
999
1,395
1,422
999
1,598
999
999
1,598
1,395
999
1,598
999
1,395
999
1,422
1,598
1,395
999
999
999
999
999
1,422
1,395
1,395
1,598

TypeError: 'float' object is not subscriptable

In [262]:
output = re.search('(\d*.\d*)', str(df.Displacement[1][0]))
print(output.group())

1,798

In [263]:
import re
import pandas as pd

In [264]:
a = str(df.Displacement[0][0])
a

'\n1,422 cc\n'

In [265]:
a = str(df.Displacement[1][0])
a

'\n1,798 cc\n'

In [266]:
output = re.search('(\d*.\d*)', str(df.Displacement[1][0]))
print(output.group())

1,798

In [ ]:
map(lambda x: x * 2 , my_list)

In [175]:
df.Displacement.apply(lambda x: re.search('(\d*.\d*)', str(df.Displacement[x][0]),df.Displacement)

SyntaxError: unexpected EOF while parsing (<ipython-input-175-625385d80644>, line 1)

In [168]:
[for i in re.search('(\d*.\d*)', str(df.Displacement[i][0]):
   result

SyntaxError: invalid syntax (<ipython-input-168-751ecd0ff662>, line 1)

In [158]:
df["Displacement"].str.extract(pat = '(/d*)')

         0
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
...    ...
15914  NaN
15915  NaN
15916  NaN
15917  NaN
15918  NaN

[15919 rows x 1 columns]

In [153]:
def Clean_data(a): 
    # Search for opening bracket in the name followed by 
    # any characters repeated any number of times 
    if re.search('\,.*', a): 
  
        # Extract the position of beginning of pattern 
        pos = re.search('\,.*', a).start() 
  
        # return the cleaned name 
        return a[:pos] 
  
    else: 
        # if clean up needed return the same name 
        return a 
          
# Updated the city columns 
df['Displacement'] = df['Displacement'].apply(Clean_data) 
  
# Print the updated dataframe 
print(df)

TypeError: expected string or bytes-like object

In [150]:
s = pd.Series(df["Displacement"])
s

0        [\n1,422 cc\n]
1        [\n1,798 cc\n]
2        [\n1,598 cc\n]
3        [\n1,422 cc\n]
4        [\n1,422 cc\n]
              ...
15914    [\n1,997 cc\n]
15915    [\n1,798 cc\n]
15916    [\n1,997 cc\n]
15917    [\n1,997 cc\n]
15918    [\n1,798 cc\n]
Name: Displacement, Length: 15919, dtype: object

In [159]:
df["Displacement"][150]

['\n999 cc\n']

In [161]:
re.findall("\d*.\d*", a)

['1,422', ' ', 'c', 'c']

In [162]:
output = re.search('(\d*.\d*)', a)
print(output.group())

1,422

In [163]:
total_list = []
[for i in range(len(df.Displacement)):
    for re.search('(\d*.\d*)', df.Displacement[i]) in df.Displacement[i]:
        total_list.append(re.search('(\d*.\d*)', df.Displacement[i]))]

SyntaxError: invalid syntax (<ipython-input-163-979c4cf30d15>, line 2)

In [147]:
a.str.extract('(\d).+(\d*)')

AttributeError: 'str' object has no attribute 'str'

In [121]:
output.str.split(",")

AttributeError: 're.Match' object has no attribute 'str'

In [124]:
(output.group()).apply(lambda x: x.split(","))

AttributeError: 'str' object has no attribute 'apply'

In [120]:
(str(df.Displacement[0][0])).apply(lambda x: x.split("@")[1]).value_counts().head(5)

AttributeError: 'str' object has no attribute 'apply'

In [86]:
df["Displacement"].astype(int)

ValueError: setting an array element with a sequence.

In [85]:
#df["Displacement"].str[0].str[1]
df["Displacement"].str[0].strip("\n")

AttributeError: 'Series' object has no attribute 'strip'