## import libraries

In [2]:
import pandas as pd
import numpy as np
import warnings 

warnings.filterwarnings("ignore")
warnings.warn("this will not show")

## read file

In [3]:
df = pd.read_json("scout_car.json", lines=True)

#second way to read the file
#df = pd.read_json('C:/Users/smdkc/Desktop/Clarusway-git/clarusway-data-science-5-20/1-projects/03-EU_DS_DADVPy_M1-(EDA)/scout_car.json', lines = True)

In [4]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [6]:
df.describe()

              price   kW
count  15919.000000  0.0
mean   18019.896727  NaN
std     7386.169409  NaN
min       13.000000  NaN
25%    12850.000000  NaN
50%    16900.000000  NaN
75%    21900.000000  NaN
max    74600.000000  NaN

In [10]:
df.shape[0]

15919

#### before hangling missing values I recognize the data set

## hangling with missing values

In [11]:
df.isnull().sum()/df.isnull().shape[0]*100 # I can see the how much percentage missing value each column

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [12]:
df.shape

(15919, 54)

#### dropping columns

In [13]:
#drop columns which have lots NAN values 
drop_columns = ["kW", "Next Inspection", "Inspection new", "Emission Label", "Electricity consumption", "Last Service Date", "Other Fuel Types", "Availability", "Last Timing Belt Service Date", "Available from", "url", "null", "Previous Owners", "registration", "Emission Class", "description", "Non-smoking Vehicle", "Model Code", "Weight"]
df.drop(drop_columns, axis = "columns", inplace = True)

In [14]:
df.shape

(15919, 35)

##### drop the /n if the column has /n (general formule)

In [15]:
def n_sil(x):
    for i in range(0, len(x)):
        if isinstance(x[i], list):
            for a in x[i]:
                if a == "\n":
                    x[i].remove(a)
                elif "\n" in a:
                    x[i].remove(a)
                    b = a.replace("\n", "")
                    x[i].append(b)
        elif isinstance(x[i], str):
            x[i] = x[i].replace("\n", "")

## working each column

### first registration column

In [16]:
print('Checking First Registration column')
print('--------------------------')
print(df['First Registration'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['First Registration'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['First Registration'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['First Registration'].dtype,'\n\n')

Checking First Registration column
--------------------------
0        [\n, 2016, \n]
1        [\n, 2017, \n]
2        [\n, 2016, \n]
3        [\n, 2016, \n]
4        [\n, 2016, \n]
              ...
15914               NaN
15915    [\n, 2019, \n]
15916    [\n, 2019, \n]
15917    [\n, 2019, \n]
15918    [\n, 2019, \n]
Name: First Registration, Length: 15919, dtype: object


Number of each values
--------------------------
[\n, 2018, \n]    4522
[\n, 2016, \n]    3674
[\n, 2017, \n]    3273
[\n, 2019, \n]    2853
NaN               1597
Name: First Registration, dtype: int64


Number of missing values
--------------------------
1597


Data type
--------------------------
object

In [1]:
n_sil(df["First Registration"])

NameError: name 'n_sil' is not defined

In [18]:
df["First Registration"]

0        [2016]
1        [2017]
2        [2016]
3        [2016]
4        [2016]
          ...
15914       NaN
15915    [2019]
15916    [2019]
15917    [2019]
15918    [2019]
Name: First Registration, Length: 15919, dtype: object

In [19]:
car=df["First Registration"].str[0]
car

0        2016
1        2017
2        2016
3        2016
4        2016
         ...
15914     NaN
15915    2019
15916    2019
15917    2019
15918    2019
Name: First Registration, Length: 15919, dtype: object

In [20]:
car = pd.DataFrame(car)
car

      First Registration
0                   2016
1                   2017
2                   2016
3                   2016
4                   2016
...                  ...
15914                NaN
15915               2019
15916               2019
15917               2019
15918               2019

[15919 rows x 1 columns]

In [21]:
for i in range(15919):
    car.loc[i, "this year"] = 2020

In [22]:
car

      First Registration  this year
0                   2016     2020.0
1                   2017     2020.0
2                   2016     2020.0
3                   2016     2020.0
4                   2016     2020.0
...                  ...        ...
15914                NaN     2020.0
15915               2019     2020.0
15916               2019     2020.0
15917               2019     2020.0
15918               2019     2020.0

[15919 rows x 2 columns]

## General formul to make numeric

In [23]:
def coerce_m_columns_to_numeric(m, column_list):
    m[column_list] = m[column_list].apply(pd.to_numeric, errors='coerce')

### working continue

In [24]:
coerce_m_columns_to_numeric(car, ['First Registration','this year'])

In [25]:
car["Age"] = car["this year"]-car["First Registration"]

In [26]:
car

       First Registration  this year  Age
0                  2016.0     2020.0  4.0
1                  2017.0     2020.0  3.0
2                  2016.0     2020.0  4.0
3                  2016.0     2020.0  4.0
4                  2016.0     2020.0  4.0
...                   ...        ...  ...
15914                 NaN     2020.0  NaN
15915              2019.0     2020.0  1.0
15916              2019.0     2020.0  1.0
15917              2019.0     2020.0  1.0
15918              2019.0     2020.0  1.0

[15919 rows x 3 columns]

## Body Color column

In [28]:
print('Checking Body Color column')
print('--------------------------')
print(df['Body Color'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Body Color'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Body Color'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Body Color'].dtype,'\n\n')

Checking Body Color column
--------------------------
0        [\n, Black, \n]
1          [\n, Red, \n]
2        [\n, Black, \n]
3        [\n, Brown, \n]
4        [\n, Black, \n]
              ...
15914     [\n, Grey, \n]
15915     [\n, Grey, \n]
15916    [\n, White, \n]
15917     [\n, Grey, \n]
15918     [\n, Grey, \n]
Name: Body Color, Length: 15919, dtype: object


Number of each values
--------------------------
[\n, Black, \n]     3745
[\n, Grey, \n]      3505
[\n, White, \n]     3406
[\n, Silver, \n]    1647
[\n, Blue, \n]      1431
[\n, Red, \n]        957
NaN                  597
[\n, Brown, \n]      289
[\n, Green, \n]      154
[\n, Beige, \n]      108
[\n, Yellow, \n]      51
[\n, Violet, \n]      18
[\n, Bronze, \n]       6
[\n, Orange, \n]       3
[\n, Gold, \n]         2
Name: Body Color, dtype: int64


Number of missing values
--------------------------
597


Data type
--------------------------
object

In [29]:
n_sil(df["Body Color"])

In [31]:
df["Body Color"]

0        [Black]
1          [Red]
2        [Black]
3        [Brown]
4        [Black]
          ...
15914     [Grey]
15915     [Grey]
15916    [White]
15917     [Grey]
15918     [Grey]
Name: Body Color, Length: 15919, dtype: object

In [36]:
car1=df["Body Color"].str[0]
car1

0        Black
1          Red
2        Black
3        Brown
4        Black
         ...
15914     Grey
15915     Grey
15916    White
15917     Grey
15918     Grey
Name: Body Color, Length: 15919, dtype: object

In [37]:
car1 = pd.DataFrame(car1)
car1

      Body Color
0          Black
1            Red
2          Black
3          Brown
4          Black
...          ...
15914       Grey
15915       Grey
15916      White
15917       Grey
15918       Grey

[15919 rows x 1 columns]

## merging two dataframe

In [38]:
oto = pd.concat([car, car1], axis=1, sort=False)

In [39]:
oto

       First Registration  this year  Age Body Color
0                  2016.0     2020.0  4.0      Black
1                  2017.0     2020.0  3.0        Red
2                  2016.0     2020.0  4.0      Black
3                  2016.0     2020.0  4.0      Brown
4                  2016.0     2020.0  4.0      Black
...                   ...        ...  ...        ...
15914                 NaN     2020.0  NaN       Grey
15915              2019.0     2020.0  1.0       Grey
15916              2019.0     2020.0  1.0      White
15917              2019.0     2020.0  1.0       Grey
15918              2019.0     2020.0  1.0       Grey

[15919 rows x 4 columns]

## Paint Type column

In [40]:
print('Checking Paint Type column')
print('--------------------------')
print(df['Paint Type'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Paint Type'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Paint Type'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Paint Type'].dtype,'\n\n')

Checking Paint Type column
--------------------------
0        [\nMetallic\n]
1                   NaN
2        [\nMetallic\n]
3        [\nMetallic\n]
4        [\nMetallic\n]
              ...
15914    [\nMetallic\n]
15915    [\nMetallic\n]
15916               NaN
15917               NaN
15918    [\nMetallic\n]
Name: Paint Type, Length: 15919, dtype: object


Number of each values
--------------------------
[\nMetallic\n]       9794
NaN                  5772
[\nUni/basic\n]       347
[\nPerl effect\n]       6
Name: Paint Type, dtype: int64


Number of missing values
--------------------------
5772


Data type
--------------------------
object

In [41]:
n_sil(df["Paint Type"])

In [42]:
df["Paint Type"]

0        [Metallic]
1               NaN
2        [Metallic]
3        [Metallic]
4        [Metallic]
            ...
15914    [Metallic]
15915    [Metallic]
15916           NaN
15917           NaN
15918    [Metallic]
Name: Paint Type, Length: 15919, dtype: object

In [43]:
car2=df["Paint Type"].str[0]
car2

0        Metallic
1             NaN
2        Metallic
3        Metallic
4        Metallic
           ...
15914    Metallic
15915    Metallic
15916         NaN
15917         NaN
15918    Metallic
Name: Paint Type, Length: 15919, dtype: object

In [44]:
car2 = pd.DataFrame(car2)
car2

      Paint Type
0       Metallic
1            NaN
2       Metallic
3       Metallic
4       Metallic
...          ...
15914   Metallic
15915   Metallic
15916        NaN
15917        NaN
15918   Metallic

[15919 rows x 1 columns]

In [45]:
oto = pd.concat([oto, car2], axis=1, sort=False)

In [46]:
oto

       First Registration  this year  Age Body Color Paint Type
0                  2016.0     2020.0  4.0      Black   Metallic
1                  2017.0     2020.0  3.0        Red        NaN
2                  2016.0     2020.0  4.0      Black   Metallic
3                  2016.0     2020.0  4.0      Brown   Metallic
4                  2016.0     2020.0  4.0      Black   Metallic
...                   ...        ...  ...        ...        ...
15914                 NaN     2020.0  NaN       Grey   Metallic
15915              2019.0     2020.0  1.0       Grey   Metallic
15916              2019.0     2020.0  1.0      White        NaN
15917              2019.0     2020.0  1.0       Grey        NaN
15918              2019.0     2020.0  1.0       Grey   Metallic

[15919 rows x 5 columns]

## Body Color Original column

In [47]:
print('Checking Body Color Original column')
print('--------------------------')
print(df['Body Color Original'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Body Color Original'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Body Color Original'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Body Color Original'].dtype,'\n\n')

Checking Body Color Original column
--------------------------
0                 [\nMythosschwarz\n]
1                                 NaN
2        [\nmythosschwarz metallic\n]
3                                 NaN
4        [\nMythosschwarz Metallic\n]
                     ...
15914              [\nGrigio scuro\n]
15915       [\nStahl-Grau Metallic\n]
15916               [\narktis-weiß\n]
15917                    [\nGrigio\n]
15918    [\nTitanium-Grau Metallic\n]
Name: Body Color Original, Length: 15919, dtype: object


Number of each values
--------------------------
NaN                             3759
[\nOnyx Schwarz\n]               338
[\nBianco\n]                     282
[\nMythosschwarz Metallic\n]     238
[\nBrillantschwarz\n]            216
                                ...
[\nBianca - Tetto Nero\n]          1
[\ndezir rot\n]                    1
[\nnero/tetto argento met\n]       1
[\nPython Yellow Metallic\n]       1
[\nkarbongrau\n]                   1
Name: Body Color Original, Length: 1928, dtype: int64


Number of missing values
--------------------------
3759


Data type
--------------------------
object

In [49]:
n_sil(df["Body Color Original"])

In [50]:
df["Body Color Original"]

0                 [Mythosschwarz]
1                             NaN
2        [mythosschwarz metallic]
3                             NaN
4        [Mythosschwarz Metallic]
                   ...
15914              [Grigio scuro]
15915       [Stahl-Grau Metallic]
15916               [arktis-weiß]
15917                    [Grigio]
15918    [Titanium-Grau Metallic]
Name: Body Color Original, Length: 15919, dtype: object

## Upholstery Column

In [51]:
print('Checking Upholstery column')
print('--------------------------')
print(df['Upholstery'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Upholstery'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Upholstery'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Upholstery'].dtype,'\n\n')

Checking Upholstery column
--------------------------
0               [\nCloth, Black\n]
1                [\nCloth, Grey\n]
2               [\nCloth, Black\n]
3                              NaN
4               [\nCloth, Black\n]
                   ...
15914                          NaN
15915                  [\nCloth\n]
15916    [\nFull leather, Black\n]
15917           [\nPart leather\n]
15918    [\nFull leather, Brown\n]
Name: Upholstery, Length: 15919, dtype: object


Number of each values
--------------------------
[\nCloth, Black\n]           5821
NaN                          3720
[\nPart leather, Black\n]    1121
[\nCloth\n]                  1005
[\nCloth, Grey\n]             891
[\nCloth, Other\n]            639
[\nFull leather, Black\n]     575
[\nBlack\n]                   491
[\nGrey\n]                    273
[\nOther, Other\n]            182
[\nPart leather\n]            140
[\nFull leather\n]            139
[\nFull leather, Brown\n]     116
[\nPart leather, Grey\n]      116
[\nOther, Black\n]            110
[\nFull leather, Other\n]      72
[\nFull leather, Grey\n]       67
[\nPart leather, Other\n]      65
[\nOther\n]                    56
[\nPart leather, Brown\n]      50
[\nalcantara, Black\n]         47
[\nVelour, Black\n]            36
[\nFull leather, Beige\n]      36
[\nCloth, Brown\n]             28
[\nVelour\n]                   16
[\nOther, Grey\n]              15
[\nCloth, Beige\n]             13
[\nCloth, Blue\n]              12
[\nBrown\n]                    12
[\nVelour, Grey\n]              8
[\nCloth, White\n]              8
[\nalcantara, Grey\n]           6
[\nCloth, Red\n]                5
[\nOther, Yellow\n]             4
[\nBeige\n]                     3
[\nPart leather, Red\n]         3
[\nPart leather, Beige\n]       2
[\nFull leather, Blue\n]        2
[\nalcantara\n]                 2
[\nWhite\n]                     2
[\nPart leather, White\n]       2
[\nalcantara, Other\n]          2
[\nBlue\n]                      2
[\nOther, Brown\n]              1
[\nFull leather, Red\n]         1
[\nFull leather, White\n]       1
[\nCloth, Orange\n]             1
Name: Upholstery, dtype: int64


Number of missing values
--------------------------
3720


Data type
--------------------------
object

In [52]:
n_sil(df["Upholstery"])

In [53]:
df["Upholstery"]

0               [Cloth, Black]
1                [Cloth, Grey]
2               [Cloth, Black]
3                          NaN
4               [Cloth, Black]
                 ...
15914                      NaN
15915                  [Cloth]
15916    [Full leather, Black]
15917           [Part leather]
15918    [Full leather, Brown]
Name: Upholstery, Length: 15919, dtype: object

In [56]:
car3=df["Upholstery"].str[0]
car3

0               Cloth, Black
1                Cloth, Grey
2               Cloth, Black
3                        NaN
4               Cloth, Black
                ...
15914                    NaN
15915                  Cloth
15916    Full leather, Black
15917           Part leather
15918    Full leather, Brown
Name: Upholstery, Length: 15919, dtype: object

## Body Column

In [59]:
print('Checking Body column')
print('--------------------------')
print(df['Body'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Body'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Body'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Body'].dtype,'\n\n')

Checking Body column
--------------------------
0        [\n, Sedans, \n]
1        [\n, Sedans, \n]
2        [\n, Sedans, \n]
3        [\n, Sedans, \n]
4        [\n, Sedans, \n]
               ...
15914       [\n, Van, \n]
15915       [\n, Van, \n]
15916       [\n, Van, \n]
15917       [\n, Van, \n]
15918       [\n, Van, \n]
Name: Body, Length: 15919, dtype: object


Number of each values
--------------------------
[\n, Sedans, \n]           7903
[\n, Station wagon, \n]    3553
[\n, Compact, \n]          3153
[\n, Van, \n]               783
[\n, Other, \n]             290
[\n, Transporter, \n]        88
NaN                          60
[\n, Off-Road, \n]           56
[\n, Coupe, \n]              25
[\n, Convertible, \n]         8
Name: Body, dtype: int64


Number of missing values
--------------------------
60


Data type
--------------------------
object

In [60]:
n_sil(df["Body"])

In [61]:
df["Body"]

0        [Sedans]
1        [Sedans]
2        [Sedans]
3        [Sedans]
4        [Sedans]
           ...
15914       [Van]
15915       [Van]
15916       [Van]
15917       [Van]
15918       [Van]
Name: Body, Length: 15919, dtype: object

In [63]:
car4=df["Body"].str[0]
car4

0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
          ...
15914       Van
15915       Van
15916       Van
15917       Van
15918       Van
Name: Body, Length: 15919, dtype: object

## Nr. of Doors Column

In [64]:
print('Checking Nr. of Doors column')
print('--------------------------')
print(df['Nr. of Doors'],'\n\n')
print('Number of each values')
print('--------------------------')
print(df['Nr. of Doors'].value_counts(dropna=False),'\n\n')
print('Number of missing values')
print('--------------------------')
print(df['Nr. of Doors'].isnull().sum(),'\n\n')
print('Data type')
print('--------------------------')
print(df['Nr. of Doors'].dtype,'\n\n')

Checking Nr. of Doors column
--------------------------
0        [\n5\n]
1        [\n3\n]
2        [\n4\n]
3        [\n3\n]
4        [\n5\n]
          ...
15914    [\n5\n]
15915    [\n5\n]
15916    [\n5\n]
15917    [\n5\n]
15918    [\n5\n]
Name: Nr. of Doors, Length: 15919, dtype: object


Number of each values
--------------------------
[\n5\n]    11575
[\n4\n]     3079
[\n3\n]      832
[\n2\n]      219
NaN          212
[\n7\n]        1
[\n1\n]        1
Name: Nr. of Doors, dtype: int64


Number of missing values
--------------------------
212


Data type
--------------------------
object

In [65]:
n_sil(df["Nr. of Doors"])

In [66]:
df["Nr. of Doors"]

0        [5]
1        [3]
2        [4]
3        [3]
4        [5]
        ...
15914    [5]
15915    [5]
15916    [5]
15917    [5]
15918    [5]
Name: Nr. of Doors, Length: 15919, dtype: object

In [69]:
car5=df["Nr. of Doors"].str[0]
car5

0        5
1        3
2        4
3        3
4        5
        ..
15914    5
15915    5
15916    5
15917    5
15918    5
Name: Nr. of Doors, Length: 15919, dtype: object

In [70]:
car5 = pd.DataFrame(car5)
car5

      Nr. of Doors
0                5
1                3
2                4
3                3
4                5
...            ...
15914            5
15915            5
15916            5
15917            5
15918            5

[15919 rows x 1 columns]

In [72]:
oto = pd.concat([oto, car5], axis=1, sort=False)

In [73]:
oto

       First Registration  this year  Age Body Color Paint Type Nr. of Doors
0                  2016.0     2020.0  4.0      Black   Metallic            5
1                  2017.0     2020.0  3.0        Red        NaN            3
2                  2016.0     2020.0  4.0      Black   Metallic            4
3                  2016.0     2020.0  4.0      Brown   Metallic            3
4                  2016.0     2020.0  4.0      Black   Metallic            5
...                   ...        ...  ...        ...        ...          ...
15914                 NaN     2020.0  NaN       Grey   Metallic            5
15915              2019.0     2020.0  1.0       Grey   Metallic            5
15916              2019.0     2020.0  1.0      White        NaN            5
15917              2019.0     2020.0  1.0       Grey        NaN            5
15918              2019.0     2020.0  1.0       Grey   Metallic            5

[15919 rows x 6 columns]