___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [ ]:
%run ./01-PreparingTheDataForAnalysis.ipynb

In [4]:
import pandas as pd

In [5]:
ri = pd.read_csv("police.csv")
ri.head()

C:\Users\ilkca\anaconda3\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [6]:
ri['violation'].value_counts()

Speeding               268744
Moving violation        90234
Equipment               61252
Other                   24221
Registration/plates     19830
Seat belt               16327
Name: violation, dtype: int64

In [7]:
ri['violation']

0          Speeding
1          Speeding
2               NaN
3         Equipment
4         Equipment
            ...
509676          NaN
509677          NaN
509678          NaN
509679          NaN
509680          NaN
Name: violation, Length: 509681, dtype: object

In [8]:
ri.violation.value_counts(normalize=True)

Speeding               0.559175
Moving violation       0.187750
Equipment              0.127447
Other                  0.050397
Registration/plates    0.041260
Seat belt              0.033972
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [9]:
female = pd.DataFrame(ri[ri['driver_gender'] == 'F'])
female

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
15,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,NaN,NaN,NaN,200,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
18,RI-2005-00019,RI,2005-03-14,10:00,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
25,RI-2005-00026,RI,2005-03-29,23:20,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
34,RI-2005-00035,RI,2005-06-06,13:20,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
36,RI-2005-00037,RI,2005-06-18,16:30,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509656,RI-2015-47051,RI,2015-12-31,21:59,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
509659,RI-2015-47054,RI,2015-12-31,22:09,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K3
509660,RI-2015-47055,RI,2015-12-31,22:10,Zone X4,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
509661,RI-2015-47056,RI,2015-12-31,22:10,Zone X4,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Arrest Driver,True,0-15 Min,False,False,Zone X4
509665,RI-2015-47060,RI,2015-12-31,22:39,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K3

In [10]:
male = pd.DataFrame(ri[ri['driver_gender'] == 'M'])
male

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
5,RI-2005-00006,RI,2005-01-12,08:05,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509666,RI-2015-47061,RI,2015-12-31,22:46,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
509667,RI-2015-47062,RI,2015-12-31,22:47,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
509668,RI-2015-47063,RI,2015-12-31,23:08,Zone X3,NaN,NaN,NaN,200,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
509669,RI-2015-47064,RI,2015-12-31,23:44,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509670,RI-2015-47065,RI,2015-12-31,23:48,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [11]:
female['violation'].value_counts()

Speeding               86198
Moving violation       17911
Equipment              14039
Registration/plates     5649
Other                   3791
Seat belt               3550
Name: violation, dtype: int64

In [12]:
female.violation.value_counts(normalize=True)

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [13]:
male['violation'].value_counts()

Speeding               182538
Moving violation        72317
Equipment               47211
Other                   20425
Registration/plates     14181
Seat belt               12774
Name: violation, dtype: int64

In [8]:
male.violation.value_counts(normalize=True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [15]:
female_and_speeding = ri[(ri.driver_gender == 'F') & (ri.violation == 'Speeding')]
female_and_speeding

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
15,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,NaN,NaN,NaN,200,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
18,RI-2005-00019,RI,2005-03-14,10:00,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
25,RI-2005-00026,RI,2005-03-29,23:20,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
34,RI-2005-00035,RI,2005-06-06,13:20,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
37,RI-2005-00038,RI,2005-07-06,11:22,Zone X1,NaN,NaN,NaN,0,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509633,RI-2015-47028,RI,2015-12-31,19:44,Zone K2,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K2
509636,RI-2015-47031,RI,2015-12-31,20:05,Zone K2,NaN,NaN,NaN,900,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509646,RI-2015-47041,RI,2015-12-31,20:42,Zone K2,NaN,NaN,NaN,900,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
509655,RI-2015-47050,RI,2015-12-31,21:47,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
509656,RI-2015-47051,RI,2015-12-31,21:59,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [16]:
male_and_speeding = ri[(ri.driver_gender == 'M') & (ri.violation == 'Speeding')]
male_and_speeding

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
6,RI-2005-00007,RI,2005-01-18,08:15,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
8,RI-2005-00009,RI,2005-01-23,23:15,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
9,RI-2005-00010,RI,2005-01-24,20:32,Zone K1,NaN,NaN,NaN,600,M,...,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509649,RI-2015-47044,RI,2015-12-31,20:50,Zone K2,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509654,RI-2015-47049,RI,2015-12-31,21:42,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
509663,RI-2015-47058,RI,2015-12-31,22:26,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
509666,RI-2015-47061,RI,2015-12-31,22:46,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
509669,RI-2015-47064,RI,2015-12-31,23:44,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2

In [17]:
female_and_speeding['stop_outcome'].value_counts()

Citation            82168
Warning              3362
Arrest Driver         456
Arrest Passenger       89
N/D                    78
No Action              45
Name: stop_outcome, dtype: int64

In [11]:
stop_outcomes_female = female_and_speeding.stop_outcome.value_counts(normalize=True)
stop_outcomes_female

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [18]:
male_and_speeding['stop_outcome'].value_counts()

Citation            172432
Warning               6587
Arrest Driver         2878
Arrest Passenger       231
N/D                    216
No Action              194
Name: stop_outcome, dtype: int64

In [12]:
stop_outcomes_male = male_and_speeding.stop_outcome.value_counts(normalize=True)
stop_outcomes_male

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [23]:
ri.dtypes

id                        object
state                     object
stop_date                 object
stop_time                 object
location_raw              object
county_name              float64
county_fips              float64
fine_grained_location    float64
police_department         object
driver_gender             object
driver_age_raw           float64
driver_age               float64
driver_race_raw           object
driver_race               object
violation_raw             object
violation                 object
search_conducted          object
search_type_raw           object
search_type               object
contraband_found            bool
stop_outcome              object
is_arrested               object
stop_duration             object
out_of_state              object
drugs_related_stop          bool
district                  object
dtype: object

In [24]:
ri['search_conducted'] = ri['search_conducted'].astype('bool')
ri.search_conducted.dtype

dtype('bool')

In [25]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509681 entries, 0 to 509680
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     509681 non-null  object
 1   state                  509681 non-null  object
 2   stop_date              509671 non-null  object
 3   stop_time              509671 non-null  object
 4   location_raw           509681 non-null  object
 5   county_name            0 non-null       float64
 6   county_fips            0 non-null       float64
 7   fine_grained_location  0 non-null       float64
 8   police_department      509671 non-null  object
 9   driver_gender          480584 non-null  object
 10  driver_age_raw         480632 non-null  float64
 11  driver_age             478986 non-null  float64
 12  driver_race_raw        480608 non-null  object
 13  driver_race            480608 non-null  object
 14  violation_raw          480608 non-null  object
 15  violation              480608 non-null  object
 16  search_conducted       509681 non-null  bool
 17  search_type_raw        17762 non-null   object
 18  search_type            17762 non-null   object
 19  contraband_found       509681 non-null  bool
 20  stop_outcome           480608 non-null  object
 21  is_arrested            480608 non-null  object
 22  stop_duration          480608 non-null  object
 23  out_of_state           479800 non-null  object
 24  drugs_related_stop     509681 non-null  bool
 25  district               509681 non-null  object
dtypes: bool(3), float64(5), object(18)
memory usage: 90.9+ MB

In [26]:
bool_series = ri.search_conducted.value_counts(normalize=True)
bool_series

False    0.965131
True     0.034869
Name: search_conducted, dtype: float64

In [28]:
bool_series_mean = ri.search_conducted.mean()
bool_series_mean

0.03486886895921174

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [20]:
ri[ri.driver_gender=='F'].search_conducted.mean()

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [ ]:
ri[ri.driver_gender=='M'].search_conducted.mean()

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [24]:
ri.groupby('driver_gender').mean()

,county_name,county_fips,fine_grained_location,driver_age_raw,driver_age,search_conducted,contraband_found,drugs_related_stop
driver_gender,,,,,,,,
F,NaN,NaN,NaN,1974.087275,32.536682,0.018751,0.006337,0.004568
M,NaN,NaN,NaN,1969.211775,34.524914,0.043792,0.016449,0.011922

In [23]:
ri.groupby('driver_gender').search_conducted.mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [29]:
ri.groupby(['driver_gender', 'violation']).search_conducted.mean()

driver_gender  violation
F              Equipment              0.040245
               Moving violation       0.038021
               Other                  0.045898
               Registration/plates    0.054700
               Seat belt              0.017746
               Speeding               0.007738
M              Equipment              0.070916
               Moving violation       0.059156
               Other                  0.046120
               Registration/plates    0.103589
               Seat belt              0.031705
               Speeding               0.026630
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [30]:
ri.groupby(['violation', 'driver_gender']).search_conducted.mean()

violation            driver_gender
Equipment            F                0.040245
                     M                0.070916
Moving violation     F                0.038021
                     M                0.059156
Other                F                0.045898
                     M                0.046120
Registration/plates  F                0.054700
                     M                0.103589
Seat belt            F                0.017746
                     M                0.031705
Speeding             F                0.007738
                     M                0.026630
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [31]:
ri.search_type.value_counts()

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Inventory,Probable Cause,Reasonable Suspicion                  8
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

***

In [32]:
ri['frisk'] = ri.search_type.str.contains('Protective Frisk', na=False)
ri['frisk']

0         False
1         False
2         False
3         False
4         False
          ...
509676    False
509677    False
509678    False
509679    False
509680    False
Name: frisk, Length: 509681, dtype: bool

In [33]:
ri.frisk.dtype

dtype('bool')

In [34]:
ri.frisk.sum()

1598

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [35]:
searched = ri[ri.search_conducted==True]
searched

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
9,RI-2005-00010,RI,2005-01-24,20:32,Zone K1,NaN,NaN,NaN,600,M,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
10,RI-2005-00011,RI,2005-02-09,03:05,Zone X4,NaN,NaN,NaN,500,M,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,True
83,RI-2005-00084,RI,2005-08-28,01:00,Zone X1,NaN,NaN,NaN,0,M,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,True
93,RI-2005-00094,RI,2005-09-15,02:20,Zone X4,NaN,NaN,NaN,500,M,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False
114,RI-2005-00115,RI,2005-09-24,02:20,Zone K3,NaN,NaN,NaN,300,M,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone K3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509676,RI-NA-06,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA,False
509677,RI-NA-07,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA,False
509678,RI-NA-08,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA,False
509679,RI-NA-09,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA,False
509680,RI-NA-10,RI,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA,False

In [36]:
searched.frisk.mean()

0.08991672293495385

In [37]:
searched.groupby('driver_gender').frisk.mean()

driver_gender
F    0.066694
M    0.093707
Name: frisk, dtype: float64