In [ ]:
import pandas as pd

In [ ]:
ecom = pd.read_csv('Ecommerce Purchases')

**Check the head of the DataFrame.**

In [ ]:
ecom.head()

** How many rows and columns are there? **

In [ ]:
ecom.info()

** What is the average Purchase Price? **

In [ ]:
ecom["Purchase Price"].mean()

** What were the highest and lowest purchase prices? **

In [ ]:
ecom["Purchase Price"].max()

In [ ]:
ecom["Purchase Price"].min()

** How many people have English 'en' as their Language of choice on the website? **

In [ ]:
ecom[ecom["Language"]== 'en'].count()

In [ ]:
sum(ecom[ecom["Language"]== 'en'].count())

** How many people have the job title of "Lawyer" ? **

In [11]:
ecom[ecom["Job"]== 'Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [12]:
ecom[ecom["Job"]== 'Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [13]:
sum(ecom[ecom["Job"]== 'Lawyer'].count())

420

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [14]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [15]:
ecom['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [25]:
ecom[ecom["Lot"]== '90 WT']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
513,"50398 Mccoy Rest Suite 597\nSouth Garyborough,...",90 WT,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,Bright PLC,630438419693,11/19,173,American Express,jesse00@page.net,Energy engineer,156.70.208.94,ru,75.1

In [16]:
ecom[ecom["Lot"]== '90 WT']["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [17]:
ecom[ecom["Credit Card"]== 4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [18]:
ecom[(ecom["CC Provider"]== 'American Express') & (ecom["Purchase Price"] >95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [19]:
sum(ecom["CC Exp Date"].apply(lambda x: x[3:]) == "25") # True ve False
#degerler verir toplamindan sonucu buluruz.

1033

In [27]:
import re
ecom['CC Exp Date'].str.extract('(^\d{2}/25)').count()

0    1033
dtype: int64

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [29]:
ecom["Email"]

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [31]:
example = ecom["Email"].iloc[0]
example

'pdunlap@yahoo.com'

In [21]:
ecom["Email"].apply(lambda x: x.split("@")[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

In [28]:
ecom["Email"].apply(lambda x: x.split("@")[0]).value_counts().head(5)

ismith       6
fsmith       5
xwilliams    5
mdavis       5
tjones       4
Name: Email, dtype: int64

In [23]:
domain = {}
for i in ecom["Email"]:
    if i.split('@')[1] not in domain:
        domain[i.split('@')[1]] =1
    else:
        domain[i.split('@')[1]] +=1
pd.Series(domain).sort_values(ascending =False).head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64

In [20]:
import re
ecom["Email"].str.extract('(@\w+.\w*)')[0].value_counts().head(5)

@hotmail.com     1638
@yahoo.com       1616
@gmail.com       1605
@smith.com         42
@williams.com      37
Name: 0, dtype: int64

In [ ]:
import re
ecom["Email"].str.extract('(@\w*+.\w*)')[0].value_counts().head(5)

# Great Job!